[2017-11-10 02:03] kazimanzurrashid opened #1 "v1.1.5 release is broken"
I am getting the following exception after upgrading to v1.1.5

[code]

[2017-11-10 02:50] breath103 commented on #1
Seriously. you have to unpublish this version
i'm not even sure you guys understood the impact of change dependency to peerDependency
missing continuation-local-storage causing a lot of problems all over the place.

most of npm install (especially node 6.X.X, which lambda support) doesn't have any simple way to check peerDependency has been fulfilled or not.

[2017-11-10 02:54] breath103 commented on #1
Also, even npm <~ 3 doesn't install peerDependency automatically. idk why did you thought only npm3 has this problem
and even with knowing that, this should be at least "Major" release, not "patch" this gonna break all the clients that using "'aws-xray-sdk-core': '^1.1.x'"

[2017-11-10 03:39] camwes commented on #1
this could become a production problem for anyone using xray who deploys an app right now, Support is going to be overwhelmed with this one if its not fixed soon

[2017-11-10 03:39] abhiksingh commented on #1
@kazimanzurrashid @breath103 the X-Ray team is actively investigating this issue

[2017-11-10 05:00] abhiksingh commented on #1
@kazimanzurrashid @breath103 @camwes can you confirm where this is occurring (e.g. EC2, ECS, Lambda, etc.) and with which version of NPM?

[2017-11-10 05:09] camwes commented on #1
It it's occurring in elastic beanstalk for me

[2017-11-10 05:10] breath103 commented on #1
Let me clear out this
1) from npm >= 3 `npm install` doesn't install peerDependencies.
2) So if you made artifact such as
[code]
node_modules won't include "continuation-local-storage" even if you do `npm install`. it shows warnings on npm install, but it doesn't fail (npm ls would raise error, but which most of people doesn't do obviously)

3) So if there is any code `const xray = require("aws-xr

[2017-11-10 05:11] camwes commented on #1
The install has a peer dependency warning on the missing module but npm assumes the install went well.

[2017-11-10 05:16] abhiksingh commented on #1
@breath103 thanks for the details. We are working on pushing out a new version (1.1.6) with the fix.

[2017-11-10 06:03] abhiksingh commented on #1
An updated version (1.1.6) hs been published to NPM. This should resolve the issue. We will close this issue if we don’t receive any further updates in the next 24 hours.

[2017-11-10 09:21] breath103 commented on #1
@abhiksingh Checked the new version. thanks
for anyone having problems with this, i recommend to do `npm ls` before make deployment package from now on. which will raise error if there is any unmet peer dependencies.

[2017-11-12 01:15] reconbot opened #2 "Cannot suppress logging messages in aws-xray-sdk@1.1.6"
We have a custom logger, run nodejs and use lambda. We cannot suppress require time log messages from the javascript SDK. aws-xray-sdk@1.1.2

Every lambda invocation starts with
[code]

These messages are factually correct but are logged at the info level which we wish to suppress in production. Our logger suppresses info messages however these are logged at require time before our code has a chan

[2017-11-12 23:21] vladgolubev opened #3 "Feature Request: Capture MongoDB"
Since MongoDB is probably the most popular DB used with Node.js apps it makes sense to support it in this SDK.

[2017-11-13 14:34] tuananh opened #4 "Koa Support"
Does it work with koa?

[2017-11-13 18:25] haotianw465 commented on #1
Closing as 1.1.6 released and no further issues reported.

[2017-11-13 18:25] #1 closed

[2017-11-14 00:19] breath103 commented on #4
xray-sdk itself just provides a way to communicate with xray agent by sending custom segement data. all the helpers like aws / postgres / express are simply an wrappers around it. currently there is no plugin for koa, but i believe writing one as koa middleware would be totally possible. checkout [express implementation](https://github.com/aws/aws-xray-sdk-node/tree/master/packages/express)

[2017-11-14 06:22] tuananh commented on #4
@breath103 i added a PR here https://github.com/aws/aws-xray-sdk-node/pull/5

I just take a look at Express implementation and adapt it for koa. Can you help reviewing it?

[2017-11-14 06:23] alextanhongpin opened #6 "Add support for nodejs mysql2 package"
Is there any possibility that support will be added for the module `mysql2`?

[2017-11-14 06:37] tuananh commented on #6
I have a bit of time. I can take a look at it if no one else is on it.

[2017-11-14 06:45] alextanhongpin commented on #6
Appreciate it 👍

[2017-11-14 18:58] awssandra commented on #2
Ah yes I see the issue. Lambda integration requires the SDK to initialize some Lambda specific configurations on load.
The logger is not set at this point, and the initialize is reusing the non-Lambda custom configuration function, which is set to INFO because in a non-Lambda context, this is a custom manual configuration.

I believe this message should appear as DEBUG on Lambda (which suppresses

[2017-11-15 22:49] kopertop opened #8 "Add support for API Gateway context data?"
I've been trying to find a way to add in support for the API Gateway Context and event data (URL, Path, Headers, etc).

I have a function which should be working to add in the HTTP data to the currently open segment, but this data does not appear to be passed along to XRay:

[code]

I also tried creating a new segment, but that also failed (and trying to use XRay.setSegment(segment) caused an erro

[2017-11-16 05:20] djamison commented on #8
It doesn't look like it's currently possible. The segment you're working with doesn't go anywhere. See [this response](https://forums.aws.amazon.com/thread.jspa?threadID=265808) by @haotianw465.

The best I've been able to do is attach that data to a subsegment. It's not great, but the data is there while drilling down into traces.

[code]

[2017-11-16 05:24] clark-pan opened #9 "Feature Request: Capturing additional SQL Query information"
The current MySQL instrumentation only captures the url and query type of each query made.

It would be nice to update the instrumentation to also capture the actual query being run.

Obviously there would be privacy concerns attached to this, since you probably don't want to log out every query.

I'm happy to implement this if I can get some direction from the core team as to how you want to hand

[2017-11-16 15:20] kopertop commented on #8
Hmm, that's rather unfortunate. Even adding the http data to a subsegment doesn't make that information appear in the X-Ray console under the "Trace Overview", so I don't think that's a reliable option.

The response by @haotianw465 appears to indicate that the root segment data isn't actually sent to the X-Ray Lambda worker. Is this due to the "Lambda Worker" not being able to accept that data, o

[2017-11-16 19:20] awssandra commented on #8
Hi Kopertop,

The Lambda worker sends it's own segment independent of the SDK, created when the worker spins up and sent when the initialization completes. This is to support active as well as passive tracing for that Lambda function, and capture information regarding failure of the worker to initialize.

What the SDK does is pick up the parent ID and Trace ID of the segment sent by Lambda (they e

[2017-11-17 20:23] awssandra commented on #4
@tuananh

I am unfamiliar with Koa, so bear with me.

Briefly reading up, Koa seems to rely on async/await as it's primary mechanism to remove use of callbacks. The core package relies on CLS (https://github.com/othiym23/node-continuation-local-storage/issues/124) for segment propagation, which is reportedly not compatible with async/await (https://github.com/othiym23/node-continuation-local-stora

[2017-11-20 04:52] tuananh commented on #4
Thanks. I will test and get back to you.

[2017-11-21 22:36] awssandra commented on #9
Hi clark-pan,

Due to the sensitive nature of the data and information that could be captured, we have plans to address this issue internally. We are still discussing on how to handle best to handle this to get most value out of it, while still being safe and protecting our customer's potentially sensitive data and prevent unintentionally leaking data due to misconfiguration. We do intend to addre

[2017-11-22 20:07] #8 closed

[2017-11-27 16:54] adieuadieu opened #10 "Optimise Dependencies"
Hi there. Thank you for your work on this project. X-Ray is great!

I have some concerns about some of the dependency decisions made in the project. I'd like to use the `aws-xray-sdk-core` module in a Lambda handler, however simply including this library adds around 900 KB of code. That's crazy!

There must be something we can do to reduce the code size. For example, does the package really need t

[2017-11-29 00:23] awssandra commented on #10
Hi adieuadieu,

Winston and Moment are used for formatting and configuring all the SDK output.  They are only used to a) capture and format timing information and b) use log levels appropriately. Ideally, we would replace these with our own baked in minimal solution, and create our own base logger object that continues to support log levels and timestamps without the bloated dependencies. If you'd

[2017-12-12 19:59] awssandra commented on #6
Hi billnbell,

The patcher needs to be modified to gather data from the connection.execute call for mysql2.  The current patcher will not extract the data for prepared statements.
Additional integration work is required to support this.

[2017-12-16 03:13] billnbell commented on #6
OK. What is the estimated time for CLS to support async/await?

I did notice this: https://github.com/othiym23/cls-middleware

Wondering if that could help the team?

[2017-12-17 06:12] billnbell opened #12 "Async/Await context perservation"
Since this library uses CLS it appears it does not support Promises and Async/Await in v8 node.

What is the right way to support that? Manual mode? And can someone send an example using manual mode?

Thanks!

[2017-12-28 22:24] yogiraj07 commented on #12
Hi Billnbell,
Since Promises are asynchronous in nature, it is required to use `captureAsyncFunc()` wrapper and manually close segment in `then()`.

Following is the sample example for using Promise in Node SDK.
[code]

Note:
Chained promise is not supported since the call context is not passed to child promise but we are looking into support that use case. You are welcome to submit Pull Request a

[2017-12-29 16:33] gurre opened #13 "Segment constructor needs arguments validation or possibly parsing"
The Segment-constructor should parse or throw if an bad formated root or parent ID is passed in.

It would further be very convenient to pass in the information straight from the header `X-Amzn-Trace-Id`?

[2017-12-29 20:22] awssandra commented on #13
Hi Gurre,

We minimize the validation on the client side by design.
We validate the format on the service end, which allows us to validate regardless of the SDK language and not have to support it across all of our clients, thus only needing to maintain it in one place (since the segment format is versioned, it is open to be changed).

I see no issue with adding a helper create a segment using the

[2018-01-06 14:06] glicht opened #14 "Typescript Definitions"
Hi,

Are there anywhere typescript definitions for this project?
If not, do you have any plans to provide typescript definitions in the future?

thanks,

Guy

[2018-01-10 01:42] haotianw465 commented on #14
Hi, the SDK currently doesn't have typescript definitions available yet. We will looking into providing the definitions but we cannot guarantee such offering nor a timeline. Please stay tuned.

[2018-01-11 16:51] jeanadrien opened #15 "Don't crash if segment cannot be resolved in `captureAsyncFunc`"
In the case `captureAsyncFunc` is given an invalid segment (which can be supported with some error logs in other capture solutions) the execution function is called without any support for `subsegment.close()`.
I might make sense to pass a dummy object with a close function to not crash the client code, and thus avoiding to systematically call  `subsegment && subsegment.close()`

[2018-01-15 19:27] luluzhao commented on #15
@jeanadrien , thank you for reaching out to us. Have you implemented `ContextMissingStrategy` in your case? If you implemented `LogError` context missing strategy, I think your function won't crash in case of invalid segment.

[2018-01-21 14:21] omsmith opened #16 "HTTP Patcher assumes options argument is an object"
[node.js HTTP documentation](https://nodejs.org/api/http.html#http_http_request_options_callback) shows that `http.request` (or `http.get`, but there [really isn't a difference](https://github.com/nodejs/node/blob/5164a12618cf60150db621aebe1f3d89efb9b9aa/lib/http.js#L41)) can accept an `object`, `string` or somewhat more recently, an `URL` instance.

For the latter two, they are converted to the r

[2018-01-22 19:22] haotianw465 commented on #16
I found the same problem during testing. Will fix it soon. Thanks.

[2018-01-23 22:12] haotianw465 commented on #16
This fix is merged in and will go out with the next release.

[2018-01-23 22:20] haotianw465 commented on #12
#11 The latest work on better Promise support is tracked in the PR right now.

[2018-01-26 03:40] omsmith opened #18 "HTTP Patcher leaks response & stalls segments if no other response listener is supplied"
Ran into this while testing the examples I was providing in #11. Not sure how much real-world impact this has, but the http patcher adds a _response_ listener to outgoing http requests, and then sets up a listener for `res.on('end', ...)` in order to close the subsegment. The problem is, once you do add a _response_ listener, then the response _must_ be consumed.

From the [http documentation](htt

[2018-01-26 05:35] haotianw465 commented on #18
Thank you for the write up. I noticed the mandatory consumption to close the subsegment if no extra listener added. Leaking memory inside the SDK is definitely a critical issue and the SDK should not force user to consume the response if no user added listener.

The purposed fix looks good to me. We will spend some time testing it and add this fix to the coming release.

[2018-01-27 01:50] haotianw465 commented on #12
I would like to share some findings for async/await support here.

The SDK currently relies on [CLS](https://github.com/othiym23/node-continuation-local-storage) to trace the call context. It doesn't work with async/await functionality right now. You can see the discussion [here](https://github.com/othiym23/node-continuation-local-storage/issues/98).

We will pay close attention to this issue and

[2018-01-30 03:27] charsleysa opened #19 "Promise support for Postgres"
Using promises instead of callbacks fail.

Probably related to #12

[2018-01-30 15:58] thomasmichaelwallace opened #20 "Documentation for captureAWS caveat is confusing."
I'm on the cusp of using aws-xray but I have read this caveat for `var AWS = captureAWS(require('aws-sdk'));` about 10 times, and I’m just not getting it:

* If I’m in a lambda function handler and all I do is call into AWS APIs, awaiting the `.promise()` version, do I have to do anything else but wrap the module in `captureAWS`?
* Am I right in understanding _client_ to mean something created usi

[2018-01-30 19:28] haotianw465 commented on #19
Hi, the SDK does have issues with native promise due to how CLS works. This #11 PR addresses the known issues for now. We are preparing a release and will get the fix out soon.

But we want to make sure this fix also applies to your issue. What error message or stack trace did you see in your case?

[2018-01-30 19:39] haotianw465 commented on #20
Thank you for your feedback and sorry for the confusion. The doc was written before native Promise came out and the SDK doesn't officially support native Promise due to how [CLS](https://github.com/othiym23/node-continuation-local-storage) works. This native promise issue was already addressed here #11 . We will prepare a release soon and add Promise related content to our docs.

For non-Promise r

[2018-01-30 19:50] charsleysa commented on #19
The error comes from this [line](https://github.com/aws/aws-xray-sdk-node/blob/f093d8a4e3c02843410a9699904fc15f776f7baf/packages/postgres/lib/postgres_p.js#L67)  and says there is no `on` function, that is because the code doesn't handle the case where the `query` function returns a promise.

This means that PR #11 will probably not fix this issue.

[2018-01-30 20:04] haotianw465 commented on #19
You are right. PR #11 only fixes how subsegments captured within promises are structured. The SDK was developed before native Promise came out so it doesn't handle Promise return type. This needs to be fixed.

We will look into the fix. You are welcome to submit a PR. Since #11 was already merged in, the core functionality works correctly.

[2018-01-30 21:52] thomasmichaelwallace commented on #20
OK- so for now using the aws-sdk `.promise()` functions the returned AWSRequest objects don't work? e.g. `s3.getObject().promise()`?

Thanks for the example- I had seen that, but it doesn't really indicate why it's ok to use the asynchronous `cognitoidentity.getCredentialsForIdentity` outside of `captureAsyncFunc` but nothing else?

[2018-01-31 23:05] haotianw465 commented on #20
I will do some testing around using `.promise()` for AWS call capture and update `README` for what is supported and what is not on latest node version.

For `captureAsync` it is about what you want to capture. Take the sample app as an example, it wants to know how much time it takes to get the credential back. And it is only `cognitoidentity.getCredentialsForIdentity` that matters. In that case `

[2018-02-01 21:35] thomasmichaelwallace commented on #20
Thanks @haotianw465.

I did some of my own experiments today and discovered the following.

For a babel transpiled lambda function (6.10), which I guess would be a common use case for asynchronous x-ray usage:
* . promise() from the aws-sdk works out of the box
* so does await/async
* Concurrent aws-sdk .promise() calls work out of the box (e.g. Promise.all())
* You only need to wrap functionality

[2018-02-01 21:50] haotianw465 commented on #20
Thank you so much for the information and we really appreciate it. Yes you are absolutely correct that capturing aws-sdk itself doesn't need to be wrapped by `captureAsyncFunc`. The PR from your side of view will add great value to the SDK.

I have one question. When you say `aws-sdk` calls work do you mean the subsegments representing those calls have correct hierarchy and timing information or y

[2018-02-02 21:42] thomasmichaelwallace commented on #20
No worries @haotianw465 - by work I mean that x-ray seemingly captures all the subsegments and calls with the correct hierarchy and timing information (including when you do a `[aws-sdk].promise().then()` and cross-invoking into another lambda function).

[2018-02-06 16:28] thomasmichaelwallace opened #22 "Support returning values for captureX functions."
As far as I can see, if you want to build a segment around function that returns something, you're forced to do this:

[code]

Am I missing something?

[2018-02-07 20:15] awssandra commented on #22
Hi Thomas,

The X-Ray SDKs were designed from a no-touch (or least-touch) perspective. They simply wrap the code for to give context for the X-Ray segment in progress. For this reason, the local capture functions do not return values.

You need not manually close a subsegment from captureFunc (this is only required for captureAsyncFunc). For automatic mode, exposing the subsegment in the function

[2018-02-07 20:25] thomasmichaelwallace commented on #22
Thanks Sandra,

Although I'd argue that this makes the code heavily effected by x-ray
integration. As we have to completely re-write our functions into methods
that capture and mutate the external scope; which is surprising (e.g. not
what a developer later reading the code would expect from a proper
JavaScript function).

Perhaps a returning version, or an alternative approach would allow people
t

[2018-02-07 20:46] awssandra commented on #22
Hi Thomas,

We're continually working to create an X-Ray onboarding experience that can best serve all of use cases cross customer. While we do not break existing APIs, we are open to extending them to support more cases in the form of a minor version release. If you'd like, you can open a pull request with the changes required, we'd be happy to review it.

Thanks,
Sandra

[2018-02-08 13:22] thomasmichaelwallace commented on #22
Hi Sandra,

Actually it turns out this works just as well:

[code]

I guess it was just a bit of confusion from the documentation.

[2018-02-08 20:29] awssandra commented on #22
Hi Thomas,

I'm glad you're found resolution. If there's anything directly you wish to call out please feel free to do so. We understand that the SDK onboarding process can require a bit of research and warm-up, and we're trying to correct this to provide a better onboarding experience. We'll follow up suggestions accordingly.

Thanks,
Sandra

[2018-02-08 20:29] #22 closed

[2018-02-08 22:11] haotianw465 commented on #18
Fix rolled out with 1.2.0 release.

[2018-02-08 22:11] haotianw465 commented on #16
Fix rolled out with 1.2.0 release.

[2018-02-08 22:11] #16 closed

[2018-02-13 03:10] nolde opened #23 "Using `captureAWSClient` over directly referenced dynamodb client fails"
The following code does not work:

[code]

In theory, it should be just the same as encapsulating `new AWS.DynamoDB()`  coming straight from `aws-sdk`, but it does not work.

This is specially problematic in AWS Lambda environment, where loading more than you need makes you use more memory and more time.

[2018-02-13 18:57] awssandra commented on #23
Hi nolde,

I haven't been able to reproduce your issue.
Here is the code I used to test.

[code]

And the resultant trace:
[code]

Can you post a code snippet to reproduce the issue?

Thanks,
Sandra

[2018-02-16 15:33] niklasR commented on #12
@haotianw465 Are you looking into using `cls-hooked` or another way to pass context? There does not seem to be too much progress on the other discussion in the past couple of months.

[2018-02-19 03:53] nolde commented on #23
After reviewing the issue, I found out that it was actually my mistake.

Thanks for the quick reply, though.

[2018-02-19 16:57] thomasmichaelwallace opened #24 "Changelog?"
I've just noticed that v1.2.0 is out- is there anywhere can I find out what bumped the minor version?

[2018-02-19 17:06] haotianw465 commented on #24
This is the change log https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/CHANGELOG.md

The default AWS parameter whitelist has changed to capture S3 bucket names for all S3 APIs. This will result in behavior change on service graph if you are using X-Ray instrumented S3 calls. This will also impact any manual modification on that whitelist file.

Please let me know if you have any

[2018-02-19 17:09] thomasmichaelwallace commented on #24
Thanks- I thought it'd be in the root repo folder!

[2018-02-19 17:09] #24 closed

[2018-02-19 21:20] haotianw465 commented on #12
@niklasR I don't think we can have our SDK to depend on a forked CLS. And `async_hooks` provided by Node.js is still in experiment state per https://nodejs.org/api/async_hooks.html while the SDK is in production ready.

Having said that, we can probably look into an opt-in patch to provide a workaround for users that explicitly chose `async/await`. This workaround will probably have its limitation

[2018-02-22 06:04] nolde commented on #23
And should the usage below work?

[code]

[2018-02-22 17:28] awssandra commented on #23
The forums post here covers this: https://forums.aws.amazon.com/thread.jspa?messageID=821049&#821049

The DocumentClient constructor is not captured in the same way the base level clients are - this is a special case of the AWS SDK not conforming to the same initialization code path that the other AWS Clients utilize and the hook they provide to us does not properly set up tracing.

We have an ope

[2018-02-23 22:53] nolde commented on #23
Ok!
Thanks for the quick answers!

[2018-03-01 15:03] shaunc commented on #19
Is there a work-around for this case for the moment (using `await client.query()` without a callback?)

[2018-03-05 23:37] haotianw465 commented on #19
We have not tested the workaround you mentioned yet. Theoretically you will lose the query subsegment as `CLS` doesn't track context on `async/await`. We need to thoroughly test the promise usage around Postgres so we can confidently say the SDK Postgres works with Promise.

[2018-04-01 06:56] adwaitkaley opened #26 "Redis Support via Lambda"
I want to trace the ElasticCache performance from my lambda function, could not find a capture reference for redis in the documentation. Is it supported ?

[2018-04-05 00:45] ianwremmel opened #27 "AWS Lambda Node 8.10 Runtime Support"
It looks like the xray sdk instruments the handler with the assumption that the handler will follow the callback pattern required in node 4 and 6. With node 8, `async` functions are available (and encouraged in the node 8 on lambda blog post), but including the sdk without wrapping the async handler fails.

Working:
[code]

[code]

Broken:
[code]

[code]

Workaround:
[code]

[code]

[2018-04-05 18:24] ianwremmel commented on #27
There's actually no server-side stack trace. The lambda code executes correctly, but passes a promise instead of a response object back to API Gateway which doesn't know how to handle it. The API Gateway logs (once you figure out how to enable them) says:

[code]

[2018-04-05 19:31] haotianw465 commented on #27
We will do some testing around the new Lambda node runtime and update the thread soon. One thing to confirm is that for the 502 you simply did `require('aws-xray-sdk');` with no other code that could be traced correct?

[2018-04-05 19:58] ianwremmel commented on #27
The three examples I posted are the only code I wrote. I'm using `serverless` and `serverless-webpack` to build and deploy, so there is some transformation that happens. It does occure to me that the serverless sentry plugin was also involved which might wrap it. Under those conditions, `require('aws-xray-sdk')` does appear to be the only variable across tests. That said, I'll try to test it tonig

[2018-04-05 20:38] haotianw465 commented on #27
Thank you for the information. We will also do some testing around raw Lambda function to start with.

[2018-04-09 14:50] niklasR opened #28 "Does not work with node-redis"
We are trying to use the express wrapper in conjunction with a redis database.

We use [`node-redis`](https://github.com/NodeRedis/node_redis). But it does not seem to be working:
[code]

[code]

Same route does work fine using [`ioredis`](https://github.com/luin/ioredis):

[code]

[2018-04-09 18:03] mooyoul opened #29 "aws-xray-sdk-core makes bad side effects on nodejs8.10 runtime ("null" return value)"
I've found super annoying issue after migrating to nodejs8.10 runtime with async handler.

## Short Reproducible code

[code]

## Expected Result

Lambda Execution result should be `{ data: "oh my!" }`.

## Actual Result

On lambda nodejs8.10 runtime: returns `null`.
On native node 8.10 docker image: returns `{ data: "oh my!" }`

If comment `require("aws-xray-sdk-core")` line, lambda nodejs8.10 ru

[2018-04-09 18:33] mooyoul commented on #27
If you guys need simple reproducible steps, please refer #29.

[2018-04-09 18:37] haotianw465 commented on #29
Sorry about the inconvenience. We are in a testing process with the new Lambda 8.10 runtime to see what works, what breaks and what needs to be done to fix the issues. We will have our doc team soon post a note in our user guide about the current SDK doesn't work with the new async handler.

[2018-04-09 20:26] haotianw465 commented on #26
Sorry for the late response. The SDK currently doesn't officially support any Redis client. You can check this https://github.com/aws/aws-xray-sdk-node/issues/28 and add any further comment for your use case.

Depending on which client you are using you might still be able to capture the cache get latency by using general `captureAsync` or `captureCallback` functions.

If you need further help, pl

[2018-04-09 20:52] haotianw465 commented on #29
I successfully reproduced the issue with the example you gave. I'm closing this in favor of https://github.com/aws/aws-xray-sdk-node/issues/27 so we all have a single place to share updates/findings/fixes.

We will continue to look at 8.10 support and will update #27 as soon as we have any new update.

[2018-04-09 20:52] #29 closed

[2018-04-09 20:55] haotianw465 commented on #27
Another report https://github.com/aws/aws-xray-sdk-node/issues/29 for the same issue. I successfully reproduced the issue using the hello world example Lambda provides.

[2018-04-09 20:57] niklasR commented on #28
Hello @haotianw465,

Thank you, I suspected it was something like that. Do you happen to have a hunch why `node-redis` loses the context? It does not seem to be related to the other Promise/async-await issues.

In this particular case, we use redis as cache. Depending on the outcome of the call to redis, we make additional outgoing HTTP requests to downstream APIs which we would like to capture.
I

[2018-04-09 21:44] haotianw465 commented on #28
Are you running  node v8 or later and do you promisify the client? I don't have enough time to dig into how `node-redis` implements `get` but there must be some mechanism used that let CLS loses track of the function call.

A possible workaround is to check https://docs.aws.amazon.com/xray-sdk-for-nodejs/latest/reference/ and follow the examples of `captureAsyncFunc` so you capture and annotate yo

[2018-04-10 00:03] haotianw465 commented on #27
It looks like the problem happens on [CLS](https://github.com/othiym23/node-continuation-local-storage) which the SDK has direct dependency on.

Here is a repro:
Repro `index.js`

[code]

Test event result:

[code]

The working `index.js`

[code]

Test event result:
[code]

So it looks like the new async handler provided by Lambda node 8.10 runtime will have issues if your application code has ind

[2018-04-10 09:12] zya commented on #28
@haotianw465 Although we understand that the particular library mentioned here is not officially supported, the fact that such thing happens is an indication that the method used to persist the context (be it `cls` or otherwise) in this library is not ideal.  And this types of issues will pop up as more users start using x-ray. The issue here is not that we don't get redis related subsegment, the

[2018-04-10 12:25] mooyoul commented on #29
okay, i'll share some findings to #27. thanks @haotianw465 !

[2018-04-10 12:30] mooyoul commented on #27
after more investigation, it seems [depending package `async-listener` in CLS makes this behavior.](https://github.com/othiym23/node-continuation-local-storage/blob/cfe82da9861d2c73cfc95f9e96f75da335d79cfb/context.js#L14-L15
)

more specific re-pro code:

[code]

The `async-listene`r patches core modules of Node.js, somehow it breaks lambda node.js 8.10 runtime.

[2018-04-10 12:47] mooyoul commented on #27
Okay. here some code goes:
async-listener do [monkey-patch to native Promise, and change `global.Promise` to wrapped version of promise they have.](https://github.com/othiym23/async-listener/blob/a3da51775c6844c79f9af7be7f583c65b1b635b0/index.js#L420-L549)

so it causes the issue. interesting thing is:

[code]

[code]

[2018-04-10 13:12] mooyoul commented on #27
Okay. Finally i found why lambda returns null.

Here goes:
1. when requires `aws-xray-sdk-core` package from user land, it requires `continuation-local-storage` package internally
2. `continuation-local-storage` package requires `async-listener` package internally
3. `async-listener` patches `global.Promise` object
4. Lambda runtime fails Promise checking (see below screenshot)

![2018-04-10 9 58

[2018-04-10 13:31] mooyoul commented on #27
so to Lambda team:

Please use `thenable` object check instead of using `response of Promise` like below:
[code]

Please note Node.js project has thenable test suite, so if you need some tests please refer here:
https://github.com/nodejs/node/tree/db1087c9757c31a82c50a1eba368d8cba95b57d0/deps/v8/test/webkit/fast/js

[2018-04-10 18:39] awssandra commented on #27
Hi Mooyoul,

Thank you for the detailed deep dive. We have reached out to the Lambda team and will be following up on this ASAP.

Sorry for the trouble,
Sandra

[2018-04-10 19:02] haotianw465 commented on #28
We will evaluate the choice of depending on `cls` to trace context. In fact due to populate request of `async/await` we will look in to `cls-hooked` which can perserve context on `async/await` functions.

Supporting redis client is definitely in our backlog and we will make sure the context gets preserved when we developing the support. At that point we will either looking into other options of re

[2018-04-10 20:55] zya commented on #28
@awssandra Thanks. We do know about the manual mode, although it is possible, as you said that will require a lot of code change and we do not plan to do that atm.

@haotianw465 we did some digging around and could not find why `node-redis` does not work and loses the context. do you know the reason? Knowing that could perhaps improve handling future issues by documenting what is supported and wha

[2018-04-11 00:01] haotianw465 commented on #28
@zya  I totally understand your concerns. We will allocate some time to understand why CLS doesn't work well with `node-redis` so we can apply this knowledge to more packages.

We will better understand the dependencies the SDK uses and improve it or even contribute to the dependencies so our customers can use more and more packages without issue. We always continue working on expanding the docume

[2018-04-11 01:25] corydolphin opened #30 "Express middleware does not set response headers"
Hello,

The ExpressJs middleware does not set the X-Amz-TraceId header on the response. The Java ServletFilter does. Seems like this would be universally useful, please add.

[2018-04-11 13:55] vladgolubev opened #31 "Lambda crashes randomly (Error: socket hang up) after adding X-Ray"
Hey,

every single of 400 our Lambda function randomly crashes after adding X-Ray SDK.

⬇️ Stack trace ⬇️
[code]

I suspect this is because of [`async-listener`](https://github.com/othiym23/async-listener) package which monkey-patches stuff and causes problems with Node 8.10 in Lambda (see https://github.com/aws/aws-xray-sdk-node/issues/27)

When I run `yarn why async-listener` and xray-sdk is the

[2018-04-11 14:01] KnupMan commented on #31
So it's the second problem with `async-listener` in X-Ray SDK. The first one was with overriding by `async-listener` `global.Promise` object (https://github.com/aws/aws-xray-sdk-node/issues/27), so it's making problems for AWS developers to fix those issues as well.

[2018-04-11 16:36] awssandra commented on #28
@zya

Looks like this is a known issue with CLS. The CLS creator has made a separate shim package to work with node-redis: https://github.com/othiym23/cls-redis

Thoughts?
Sandra

[2018-04-12 09:08] zya commented on #28
@awssandra what we had to do to get this to work was to switch to `ioredis`. still, the underlying issue of why it does not work with `node-redis` would be more useful to investigate as it could relate to other libraries.

A complex real-world application in node would have many dependencies on many packages. Each of those would have dependencies on other packages. Keeping track of which packages

[2018-04-12 18:46] awssandra commented on #28
@zya

Unfortunately, CLS currently is the only viable mechanism to propagate context in the Node.js space as of now, and it is not without it's quirks. The Redis case is an example of said behavior.

From the cls-redis readme:

The issue is that CLS has no way in knowing what async chain call matches with what namespace instance. The mechanism to track this within Node simply _doesn't exist_, whic

[2018-04-13 13:40] murilodag commented on #27
Hello @awssandra , do you have a timeline for those changes?

[2018-04-17 17:40] awssandra commented on #27
@murilodag

We are continuing to prioritize this fix with the Lambda team. Please stay tuned for updates, we'll update this thread accordingly when we have more news.

Sorry for the trouble,
Sandra

[2018-04-19 15:09] tc commented on #6
Any updates on supporting mysql2? we would like to use this with sequelize.

[2018-04-20 12:23] federicojsequeira opened #32 "Support for node-mssql package"
Hi! Im trying to capture [mssql](https://github.com/tediousjs/node-mssql) driver connections but no result is going out in XRay. I guess this package is not yet supported. Any ideas about this? Thanks!

[2018-04-20 18:58] haotianw465 commented on #32
Hi, unfortunately the SDK right now doesn't support this package yet. So you won't see any auto-generated subsegments for `mssql` client calls. We will put this feature request to our backlog.

Which version of `mssql` are you using? It seems like v4 is using `async/await` for IO operations. The SDK depends on `CLS` for context binding and right now CLS loses track of the context on `async/await`

[2018-04-22 14:25] federicojsequeira commented on #32
Hi @haotianw465, thanks for your quick response. Right now we're using v4.1 so i guess we will need to wait until this package is supported.
The initial idea of using X-Ray was to understand a little better about the random time delays in connections between lambdas and RDS.  We have to use VPC to do this, and i checked that under this scenario those kind of delays could be sometimes expectable du

[2018-04-24 08:19] nolde opened #33 "Use lodash instead of underscore"
According to npm, [lodash](https://www.npmjs.com/package/lodash) has around **14.5 million** downloads per week, whereas [underscore](https://www.npmjs.com/package/underscore) has less than 5 million downloads per week. Both libraries have around the same capabilities, but lodash is massively popular.

The reason for this request is that having both libraries demands more npm download time and gen

[2018-04-24 19:27] awssandra commented on #33
Hi nolde,

Thank you for taking the time to comment. Pruning down the dependencies is a known item on our backlog we hope to address in the near future. We agree that the current size of the SDK and it's dependencies has much to be improved upon and understand the gains of reducing this.

See related post on dependencies: https://github.com/aws/aws-xray-sdk-node/issues/10

As always, we hope the c

[2018-04-27 17:48] pedrocarrico commented on #27
I've also experienced this issue when returning a Bluebird promise in AWS lambda using the node 8.10 runtime, thanks for the explanation @mooyoul 👍

[2018-05-02 08:45] ashwgupt opened #34 "Support for pg 7.4.X version"
After investing plenty of time on trying to make XRay tracing work for our Postgress client we realised that, it might be a version compatibility issue between **aws-sdk** and **pg** library.

We are using
[code]

and the below code snippet to enable tracing for our PG Client
[code]

But we get error with our client instance when invoked on AWS saying,
[code]

Can you please confirm is there is an

[2018-05-07 18:33] panzupa commented on #23
Is this issue resolved now?

[2018-05-08 12:45] rosswilson opened #36 "How to instrument out-of-request code?"
We make requests to S3 outside of a normal request, e.g. on service start-up and then periodically. This causes errors as X-Ray tries to retrieve the current segment from the non-existing request context.

I found some guidance for [solving this with the Java SDK](https://docs.aws.amazon.com/xray/latest/devguide/scorekeep-startup.html), but I can't find any for Node.js.

Is there guidance on how t

[2018-05-08 18:31] awssandra commented on #36
Hi rosswillson,

There's a few options, depending if you're running in automatic or manual mode. I'll list the automatic mode solution.  You'll need to encapsulate the S3 code in it's own namespace wrapper and capture it in a separate segment, as shown below.

[code]

 Let me know if this works for you.

Thanks!
Sandra

[2018-05-09 20:39] PabloAlexandre commented on #4
Hey @tuananh, you have some update on this test?

[2018-05-14 21:52] haotianw465 commented on #34
Hi,

This might be similar to #19. Are you invoking the pg client by using `await client.query()` or other syntax?

[2018-05-16 20:11] mcamendola commented on #27
We are facing this problem too!

[2018-05-17 01:18] headz68 commented on #12
@haotianw465  I ditched CLS for [Zonejs](https://github.com/angular/zone.js/) and it works nicely for http request context in my backend Lambda function. I don't use Angular but Zonejs has a lot of support.

[2018-05-17 09:00] rosswilson commented on #36
Thanks @awssandra, that sounds like it'll do the trick.

[2018-05-17 09:00] #36 closed

[2018-05-18 06:05] breath103 commented on #27
This can be fixed from xray sdk also if you just find an alternative for CLS. i mean whole problem is that CLS override global Promise with bluebird
@awssandra How about just finding an alternative of CLS and publish new version of aws-xray-sdk? this seems getting dragged

[2018-05-29 22:40] leonardovillela commented on #23
Any progress?

[2018-05-29 22:52] mattcasey opened #37 "Need the parentId / root traceId for consuming messages from SQS"
Hi, we are trying to pass trace-id's between multiple apps that talk to each other via SQS. It looks like this library will automatically generate a subsegment for talking to SQS, but there's nothing on the other end (say in MessageAttributes) to know the traceId and parentId of that subsegment. Is there something I'm missing? For now, we are just adding it to the MessageBody but this means I can'

[2018-05-30 20:19] haotianw465 commented on #37
Hi,

We have an item in our back log to have the X-Ray SDK automatically construct trace header and put it in the SQS message metadata on the sender side and extract this trace header from receiver side. Please stay tuned.

In the meantime you can construct a trace header yourself following the format here: https://docs.aws.amazon.com/xray/latest/devguide/xray-concepts.html#xray-concepts-tracinghe

[2018-05-31 13:28] gchablowski opened #38 "capturePostgres send back TypeError: Cannot read property 'name' of undefined"
I tried to use x-ray with pg in a lambda function. I use pg with promise. I tried different thinks, like add AWSXRay.capturePromise(), but I always get the following error:

`TypeError: Cannot read property 'name' of undefined
    at createSqlData (/var/task/node_modules/aws-xray-sdk-postgres/lib/postgres_p.js:90:25)
    at Client.captureQuery [as query] (/var/task/node_modules/aws-xray-sdk-postgr

[2018-05-31 23:16] mattcasey commented on #37
Thanks for a fast response! I am OK doing it myself for now -- My hope is to line up as closely as possible with what the end result will be, ideally something that is supported in the Java SDK as well.

I'm unclear what you mean by the "message metadata" -- I see that in aws_p.js, you are already adding an http header with the trace id but still create a subsegment, and I didn't notice any additi

[2018-06-04 11:30] davidkelley commented on #27
Any update on this issue?

[2018-06-04 20:43] haotianw465 commented on #23
Re-open due to popular requests. We need to work with AWS SDK team so there is a proper public interface to plugin the X-Ray intercepter on the Document client. This is on our backlog and we already brought this issue to AWS SDK team's attention.

We will post an update as soon as we have further information. Please stay tuned and thank you for your patience.

[2018-06-04 22:15] mattcasey commented on #37
Thanks! i'll close this issue for now

[2018-06-04 22:15] #37 closed

[2018-06-05 05:08] gchablowski commented on #38
Hi,

We use 7.4.3.
I suppose that it can be link to the problem you have already. But seem like a new bug. Don't really match the other.

Thanks

[2018-06-08 16:28] johnforte commented on #27
@awssandra can we get an ETA on this, as this is critical bug i feel like and prevents people from fully using xray.

[2018-06-08 16:42] mooyoul commented on #27
so for now, there's only one option that we can do:
Use callback. yeah, maybe it sounds ugly. but will work without having any issues.

For example:

[code]

[2018-06-12 06:47] xplorld opened #41 "Use of cls-hooked?"
Currently we use `CLS` to track information, and it does not work well with async/await, hence support of some frameworks like Koa is not good.

If we migrate from `CLS` to `cls-hooked` (like [this](https://github.com/toboid/correlation-id/pull/19)) we can support async/await without too much code changes.

[2018-06-13 23:21] haotianw465 commented on #38
Yes we already know a few issues with latest promise based `pg`. The current postgres capture is `EventListener` based and it is not promise-aware. This is in our backlog and we will try our best to get the support out as soon as possible.

Right now I'm closing this one in favor of this https://github.com/aws/aws-xray-sdk-node/issues/34 so we have a centralized place to track all issues and progr

[2018-06-13 23:21] #38 closed

[2018-07-05 08:47] LuukMoret commented on #12
We are using [cls-hooked](https://www.npmjs.com/package/cls-hooked) instead of CLS for node 8 and higher and has been working fine so far. Would be great if this issue gets fixed so we can use it again with our async functions!

[2018-07-06 20:33] xiananfan commented on #30
Hi @haotianw465 , I have encountered the same issue, when using with Express/Connect, the res.req might not be set. The mw_utils.js assumes res.req is always there, and uses the res.req.headers field. This leads to runtime error: TypeError: Cannot read property 'headers' of undefined. Issue [code](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/middleware/mw_utils.js#L90). I

[2018-07-06 22:21] haotianw465 commented on #30
Hi @xiananfan, sorry to hear the issue you encountered. This issue is for tracking a different use case where the `express middleware` provided from the X-Ray SDK should set the trace header with key `X-Amz-TraceId` in the response body.

The issue you mentioned is for supporting running `expressJS` in Lambda. It doesn't work out of box is because Lambda container sends segment for function invoca

[2018-07-06 22:40] xiananfan commented on #30
Hi @haotianw465, thank you for the response. Can you give more contexts on what you mean by "because Lambda container sends segment for function invocation so the SDK does special handling to cooperate Lambda and it doesn't handle the function being a web app serving proxied request"? Can you link me to the "special handling" code in SDK? I am happy to work on this issue if you can point me to the

[2018-07-06 22:49] #33 closed

[2018-07-06 23:18] haotianw465 commented on #30
Sure. The SDK has a different way of managing segment context when running in a AWS Lambda container. You can see the logic here: https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/env/aws_lambda.js.

Originally the SDK fits these two use cases: 1. For an express app, the SDK will create a segment for each request/response cycle and the intermediate remote calls or local comput

[2018-07-06 23:48] xiananfan commented on #30
Hi @haotianw465, thank you for the explanation, this makes more sense to me now.

So here is my thought:
My guess is when x-ray was initially designed, it was not expecting a classic web server app will be running inside a lambda, and this causes the SDK to start differentiate these 2 uses cases. However, with the introduction of aws-serverless-express, it's likely only more classic web app will b

[2018-07-07 18:05] metaskills commented on #12
Is that in the context of this package in a way that allows any issues to be worked around?

[2018-07-09 20:52] haotianw465 opened #45 "Support AWS Serverless Express"
The SDK is having issues when an X-Ray instrumented express web application is running in AWS Lambda by utilizing https://github.com/awslabs/aws-serverless-express, reported in a comment at https://github.com/aws/aws-xray-sdk-node/issues/30.

The SDK vended express middleware needs to work better with Lambda generated segments to provide better customer experiences.

[2018-07-09 20:53] haotianw465 commented on #30
Thank you for the valuable suggestions. We will definitely bring these feedback to Lambda team and work together to provide a better integrated experience in the very near future. I've also created an issue https://github.com/aws/aws-xray-sdk-node/issues/45 to track the feature so the current issue thread can focus on the response header. Please feel free to leave any additional comment on the new

[2018-07-11 15:48] nakedible-p commented on #12
I must second that not being able to work with async/await kind of destroys the usability of this package right now. Probably not a long term solution, but using `cls-hooked` could solve the issue for now, for node 8.

I not sure how to best go about this, but something as trivial as this inside `lib/context_utils.js` could make the library useful again for us:

[code]

Again, probably not a long

[2018-07-11 22:54] haotianw465 commented on #12
Thank you for your suggestion @nakedible-p. We are actively looking into this option right now and will update the thread once we make progress.

[2018-07-16 18:54] jplock commented on #10
@awssandra based on https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/logger.js#L21, would you welcome a PR to just remove `winston` entirely?  I'm not sure what value it is providing considering the size it adds to the Lambda's when included.

[2018-07-20 22:14] jplock commented on #10
I'll see if I can submit a PR to remove winston for review.

[2018-07-24 08:09] IllegalCactus opened #48 "Incompatible with Winston v3.0"
Using the SDK with Winston v.3.0.0 produces the following error:

[code]

Winston had a breaking change in 3.0 which changes how the logger should be constructed:

https://github.com/winstonjs/winston#creating-your-own-logger

https://github.com/winstonjs/winston/commit/eff6f00588ea6e7fcfc0a33bcf049ad85c76b6d9#diff-fc1a687308b45c41cf7efa7aff4253dd

Not sure if updating the Winston version in this

[2018-07-24 17:50] awssandra commented on #48
Hi Cactus,

We're planning on removing Winston - see https://github.com/aws/aws-xray-sdk-node/issues/10. However, in the mean time, if you'd like to submit a PR with a bump to 3.0 we'd be happy to review it.

Is there any particular reason you're wanting to use the SDK with Winston 3?

[2018-07-25 07:41] IllegalCactus commented on #48
Ah I didn't see that issue, thanks. In that case, I'm happy to close this as I don't have an urgent need to use 3.0 in the meantime. I just spotted this error while upgrading some dependencies in a project but in my case I can stick with 2.x too.

[2018-07-25 07:41] #48 closed

[2018-07-27 17:17] ryan-roemer commented on #30
This is completely blocking our ability to trace Knex + MySQL calls (we're using `serverless-http` and `express`, but same thing -- I'm debugging the `facade` segment clobber the express middleware one).

Does anyone have an hacks or patches that I can apply right now to have `AWSXRay.getSegment()` always use the Express MW segment and never the lambda `facade` one?

Thanks!

[2018-08-01 22:05] daniel-cottone commented on #34
Are there any plans on adding support for newer versions of postgres?

[2018-08-08 09:38] LuukMoret commented on #27
Will this ever get fixed? A lot of people are using node 8 runtime and don't want to use callbacks.

[2018-08-21 15:25] MartinLoeper opened #49 "Capture S3 getSignedUrl does not work with AWS SDK Instrumentation"
### Example
I use the following typescript code in our nodejs backend server:

[code]

### Issue
This code prevents `flush()` to be called on the segment which was created by xray-express.
I debugged the file [aws_p.js](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/patchers/aws_p.js) and found out that the S3 client calls `build` when making the `presign` request, but neve

[2018-08-21 15:38] billnbell commented on #49
It would be fantastic if XRAY supported async await, and this code could be MUCH simpler.

[2018-08-21 15:39] billnbell opened #50 "Support for MYSQL / Elasticsearch"
Make it easier to support MYSQL and Elasticsearch 6.x with async await.

[2018-08-21 17:00] MartinLoeper commented on #49
@billnbell Yes that's true. We patched the SDK in our project by using cls-hooked instead of continuation-local-storage. However that is not convenient and makes updating the SDK difficult.

@all I provided the following workaround for the given code:
[code]

This makes the getSignedUrl call work as expected and the request is sent to the xray daemon.

[2018-08-21 22:47] haotianw465 commented on #49
Thank you for reporting the issue. We will look into a fix soon.

[2018-08-21 23:04] haotianw465 commented on #10
Thank you for your deep dive and contribution @vladgolubev. I have merged your PR.

We will keep the action item of upgrading Winston3 or a better replacement if possible.

[2018-08-22 00:08] MartinLoeper commented on #3
Is there any progress in this issue?
I saw mongodb instrumentation in newrelic recently and miss it here =(

I am currently thinking about creating a patcher myself.
However that is not easy for the native nodejs mongo driver...

Anyone here who has experience with this?
Some possibly helpful sources:
[1] [New Relic Instrumentation Implementation for MongoDB in NodeJs](https://github.com/newrelic/

[2018-08-22 13:16] jplock commented on #10
@haotianw465 is it possible to create a new `aws-xray-sdk-node` release after the winston change?

[2018-08-22 13:39] vladgolubev commented on #10
@jplock just in case there will be no new release, this is can be fixed if you are using yarn via `resolutions` in `package.json`

[code]

See https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2018-08-22 17:45] dimkir commented on #27
I was hit by simply returning `bluebird` promise and receiving mysterious `null` value, along with API Gateway generic `Internal Server Error`.

Looks exactly like what @mooyoul has described in detail.

Is there a ticket or smth. on this issue on some public Lambda team tracker?

[2018-08-23 18:19] awssandra commented on #27
Hi everyone,

We're moving on this with the Lambda team as we speak, Thank you for all of your patience. We'll update as soon as we can.

[2018-08-24 06:27] piersmacdonald commented on #14
Lacking Typescript and Node 8+ support isn't great for a non-beta AWS product.

[2018-08-24 12:52] jplock commented on #10
Thanks @vladgolubev but we're using npm.  I'll wait until the next published released as I don't want to reference GitHub.

[2018-08-28 21:14] haotianw465 commented on #2
This issue is fixed in release 2.0.0. Please feel free to re-open if there is still an issue for you.

[2018-08-29 12:41] ngervasi commented on #19
Any news on this?

[2018-08-30 04:57] SpencerGreene commented on #2
@haotianw465 Just found this thread - timely - but even after updating I still see these messages in logs.  What do I have to do to take advantage of the fix?

I have updated to:
    "aws-xray-lambda-promise-subsegment": "^1.3.5",
    "aws-xray-sdk": "^2.0.0",
    "aws-xray-sdk-core": "^2.0.0",

[2018-09-01 00:01] haotianw465 commented on #2
Sorry for the confusion. That was a mistake on the merging of the latest release. I will fix this soon and do a patch release.

[2018-09-07 13:35] monken commented on #23
Here is a workaround (from https://github.com/aws/aws-sdk-js/issues/1846)
[code]

[2018-09-12 15:16] Enase opened #52 "Unhandled rejection ReferenceError: processAddress is not defined"
We are experiencing an issue with `node_modules/aws-xray-sdk-core/lib/daemon_config.js`

stack trace:
[code]

OS: win
node: 8.11

[2018-09-12 23:17] haotianw465 commented on #52
Hi, thank you for reporting this issue. Do you have a short code snippet to reproduce the problem? I cannot reproduce this on unit test or my own sample app. It might be a missing keyword `var` at https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/daemon_config.js#L24 but we want to be sure that you are having the same issue so we can provide the right fix. Please let me know.

[2018-09-13 10:08] zya opened #53 "Expected behaviour for Centralised Sampling Rules vs Local Sampling Rules"
We've had x-ray running in production for a couple of months now. We started before AWS introduced the ability to set sampling rules via the AWS console.

Just wanted to check what the expected behaviour is now with this new feature (Centralised Sampling Rules) added.

We've configured the sampling rules via the `setSamplingRules` method. We use a local json file to configure our sampling rates. F

[2018-09-13 18:51] haotianw465 commented on #52
I'm happy to hear this workaround works for you. We will fix this and roll it out soon.

[2018-09-14 18:52] awssandra commented on #53
Hi zya,

The mechanism to retrieve centralized sampling rules is in the new 3.0.0 major version of the daemon. To enable centralized sampling, you must update both the SDK to the new major version and update the daemon to the new major version. If this is done, the new default behavior is to use the centralized sampling rule.

If you wish to upgrade both the SDK and daemon but not use centralized

[2018-09-20 19:34] haotianw465 commented on #34
Hi @daniel-cottone @hannesj , support for pg 7.x is in our backlog. We will fix the `peerDeps` for now and update this issue once we make progress on the new pg major version support. Thank you for your patience. A PR is always welcome.

[2018-09-21 13:57] crash7 commented on #12
Hello, any update about this?

[2018-09-21 17:54] compwright opened #54 "aws-xray-sdk-core bloats package bundles"
When deploying on AWS Lambda, `aws-sdk` does not need to be bundled since it is already present in the Node.js runtime. This yields significant bundle savings, but... not if you're using `aws-xray-sdk-core`.

The reason for this is `aws-xray-sdk-core` requires `aws-sdk` as a normal dependency. It should be a `peerDependency` and possibly a `devDependency`.

[2018-09-27 21:47] kevinrambaud commented on #27
Hi, any update?

[2018-10-10 17:56] aga5tya commented on #4
Is some work being done to address this or manually segmenting on frameworks using async/await is still the way to go? I see that cls-hooked seem to help in the use cases attached to library promises or async/await. Are there any plans to consider this?

https://github.com/othiym23/node-continuation-local-storage/issues/133.

[2018-10-10 19:11] awssandra commented on #4
Hi aga5tya,

We have been planning for some experimentation with the cls-hooked library, hopefully soon. From other user reports, it seems to be the right solution. We will be sure to update as soon as we have some findings.

[2018-10-10 22:43] ebaioni commented on #34
+1 for this.
We are facing the same issue.
Thanks

[2018-10-11 00:14] awssandra commented on #27
Hi everyone,

Lambda has finished rolling out the fix. Please let us know of any further issues. Thank you again for all your patience.

[2018-10-11 00:28] dimkir commented on #27
Just tested this in `eu-west-1`  works like a charm! Now I can return bluebird promises!

Here's snippet I used to test
[code]

[2018-10-11 18:11] Enase commented on #27
How to test? I don't see any new version..

[2018-10-11 18:30] awssandra commented on #27
@Enase

The Lambda 8.10 runtime was updated under the hood. All existing Lambda 8.10 functions have been updated behind the scenes.

[2018-10-15 21:41] haotianw465 commented on #53
Closing since it has been a month for this issue being answered. Please feel free to open new ones if there are further questions regarding the new sampling feature.

[2018-10-15 21:41] #53 closed

[2018-10-16 01:00] haotianw465 commented on #2
The missing commit is added as part of `v2.0.1`. Thanks for your patience.

[2018-10-16 01:00] #2 closed

[2018-10-16 01:00] haotianw465 commented on #52
This is out as part of `v2.0.1`.

[2018-10-16 18:57] #27 closed

[2018-10-17 07:55] NachtmahrEDM commented on #14
I also would love to see typescript definitions soon as our company is dependent on aws and typescript.

[2018-10-17 13:44] khaledosman opened #58 "Capturing Subsegment doesn't work with async AWS Lambdas"
I'm trying to capture the request and response for every API request and save it as metadata to a segment.. since attaching metadata to the main segment doesn't work I created a custom subsegment as follows:

[code]

I tried both captureFunc and captureAsyncFunc, However I don't see the subsegment sent with the trace. What's the correct way to do this?

[2018-10-17 15:03] NachtmahrEDM opened #59 "Error: No context available. ns.run() or ns.bind() must be called first."
As XRay currently doesn't support koa, I try to create an instance of the client manually and without a framework-assignment:

[code]

However this snippet results in an error in this line: `XRay.setSegment(segment);`

Error is:

[2018-10-18 20:44] haotianw465 commented on #59
Hi, there is a known issue of the incompatibility between Koa and CLS (a core dependency of the X-Ray SDK). The support is in our backlog but we cannot provide a timeline. See more discussion here: https://github.com/aws/aws-xray-sdk-node/issues/4. I'm closing this so we have a central place to trace Koa related issues and progress. Feel free to leave further comments there.

[2018-10-18 21:40] vladgolubev commented on #31
@haotianw465 thanks for bringing this up again. You're right, I've stopped seeing this issue for a while! The issue can be closed now, thanks!

[2018-10-18 21:40] #31 closed

[2018-10-19 00:02] haotianw465 opened #60 "Tracing Context Preservation (async/await and various of libraries)"
## Goal
The goal of this issue is to track all tracing context preservation related problems, dive deep on why some of them work and some of them don't, discuss and gather feedback for a way going forward to provide much better customer experience with X-Ray node tracing and further contribute/shape the node context propagation in general.

## Problem Statement
The Node.js event loop model has its

[2018-10-19 00:03] haotianw465 commented on #12
Closing in favor of https://github.com/aws/aws-xray-sdk-node/issues/60

[2018-10-19 00:03] #12 closed

[2018-10-19 00:03] haotianw465 commented on #28
Closing in favor of https://github.com/aws/aws-xray-sdk-node/issues/60

[2018-10-19 00:03] #28 closed

[2018-10-19 00:04] haotianw465 commented on #4
Some related topic on this framework support https://github.com/aws/aws-xray-sdk-node/issues/60

[2018-10-19 01:29] charsleysa commented on #19
Related #60

[2018-10-19 09:17] NachtmahrEDM commented on #59
But that wasn't really my issue as I try to use AWSXRay independent from any Server-Framework.

[2018-10-19 18:34] Tanbouz opened #61 "Adding an error to a sub/segment, forces a fault flag."
**Details**

`this.addFaultFlag();`

https://github.com/aws/aws-xray-sdk-node/blob/b8996144eb28293c436667e9cee9320938e8e5da/packages/core/lib/segments/segment.js#L228-L234

[AWS X-ray concepts regarding error categorization](https://docs.aws.amazon.com/xray/latest/devguide/xray-concepts.html#xray-concepts-errors)

**Issue**

if `addError` refers directly to client errors then it is a bit confusing

[2018-10-23 00:07] jafl commented on #6
I submitted #62 as a first attempt to support mysql2: just `query()`

If that is accepted, then I would be willing tackle prepared statements.

[2018-10-23 18:12] kh01 opened #63 "node-fetch not yet supported?"
Hello,

I was under assumption that if I use  "AWSXRay.captureHTTPsGlobal", it would work with all 3rd party http client such as node-fetch. But it seems that it's not the case. Is there a workaround?
It does show the subsegment for the outgoing http call in the xray console, but within the application it's sort of breaking the application since it doesn't return the fetch data.

Error: Failed to

[2018-10-24 15:57] #63 closed

[2018-10-24 23:55] jafl commented on #19
I created #64 to address this.

[2018-10-24 23:55] jafl commented on #34
I created #64 to address this.

[2018-10-25 00:02] haotianw465 commented on #59
Closing. @NachtmahrEDM feel free to open a new one if you need further assistance to get custom solution working.

[2018-10-25 00:02] #59 closed

[2018-10-25 00:05] jafl commented on #6
#62 has been merged.  I will tackle prepared statements tomorrow.

[2018-10-25 13:53] kh01 commented on #6
I got this message. Do you know what it mean?
Failed to capture MySQL. Cannot resolve sub/segment

[2018-10-25 20:15] haotianw465 commented on #58
This are some known issues for keep tracing context for `async/await`: https://github.com/aws/aws-xray-sdk-node/issues/60 and we are still in the progress of researching and finding solutions. Do you have any error logs emitted by the SDK? If you turn on APIGateway tracing then you get http information for free: https://aws.amazon.com/blogs/aws/apigateway-xray/.

[2018-10-25 20:30] haotianw465 commented on #6
@kh01 hi there, are you using the head of this repo with #62 or just the official release SDK? Do you have a code snippet where it generates this error?

A SQL transactions is usually a subtask of serving an event/request so it is captured as a subsegment. It needs a parent segment/subsegment which represents the parent task. If the tracing context is not preserved when the SQL transaction happens

[2018-10-25 21:58] kh01 commented on #6
@haotianw465: I'm using the official release. I think it has to do with how tracing context for async/await.
I'm assuming that if I add this, it will capture automatically.
var mysql = AWSXRay.captureMySQL(require('mysql'));
But then I realize that from #60 , there seems an issue with async/await.
Normally, we can do this var connection = mysql.createConnection(config);
but in our case, we turn it

[2018-10-26 10:12] kvzaytsev opened #65 "Local Sampling Rules configuration version 1 is not applied"
Hello,

Local Sampling Rules configured with json version 1 do not seem to work anymore.

[code]

Please checkout small example that rules configured with version 1 and withot version 2 are precessed in defferent ways:

https://github.com/kvzaytsev/xray-sampling

I guess that's caused by

https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/middleware/sampling/local_sampler.js#L1

[2018-10-26 17:50] haotianw465 commented on #65
Thank you for reporting the issue. We will fix this and roll it out with the recent mysql/pg promise support PRs soon. At the meantime you can use version `2 `and replace key `service_name` with `host` as a workaround. Please note the service sampling rules will have higher precedence over locally defined rules if you have X-Ray daemon `3.x` running and the SDK's pollers manage to get the service

[2018-10-28 16:02] kvzaytsev commented on #65
Awesome! Thanks a lot for the information!

[2018-10-29 09:41] Tanbouz commented on #61
It is no big deal. I'm new to X-Ray and wished to understand and use the terminology better.

I simply wanted to use custom segments and sub-segments in manual mode to wrap sections of my functions and didn't like 😛 that I was forced to flag all "exceptions" as **Faults** because I wanted to categorize them like so:

1- Flag the exception as a fault if it something that is handled but I still wish

[2018-10-30 07:02] kunagpal opened #67 "Type safety issue in processTraceData"
https://github.com/aws/aws-xray-sdk-node/blob/295ed14ec00eb9e6ee51c6098aaad4d56d2b3afe/packages/core/lib/utils.js#L163

In the above function, a header of the form `Root=2134;` (notice the extra semicolon at the end) will cause the function to throw a `TypeError`, as there is no content after the semicolon.

I'm more than happy to send a pull request to add a check for values being present before

[2018-10-30 23:58] haotianw465 commented on #67
You are right. The SDK should be robust on handling malformed or non-standard trace header. A pull request is very welcome

[2018-10-31 00:11] haotianw465 commented on #61
These are definitely valid use cases. I think we should add an argument on the `addError` API that takes an optional flag so you can flag it to error/throttle other than fault. Right now you will have to manually call other add flag method and manually remove the fault flag. Please let me know if you need additional help. A PR is also welcome.

[2018-11-07 12:36] kunagpal commented on #67
Hey @haotianw465, glad the pull request got merged. Is there anything I can do to help expedite the release?

[2018-11-13 13:54] yvele opened #71 "Natively capturing subsegment with promises"
Can you add a way to capture subsegment in a promise friendly way?

PS: Some kind of how https://www.npmjs.com/package/aws-xray-lambda-promise-subsegment is doing

[2018-11-14 19:49] #65 closed

[2018-11-14 22:57] haotianw465 commented on #52
This issue is fixed as part of `v2.1.0` release.

[2018-11-14 22:57] #52 closed

[2018-11-14 22:59] haotianw465 commented on #67
This is fixed as part of `v2.1.0` release. Thank you for your patience.

[2018-11-14 22:59] #67 closed

[2018-11-14 23:00] haotianw465 commented on #19
This is released as part of `v2.1.0`. Please let me know if you have any questions.

[2018-11-14 23:00] #19 closed

[2018-11-14 23:02] haotianw465 commented on #34
This is released as part of `v2.1.0` thanks for #64 from @jafl

[2018-11-14 23:12] haotianw465 commented on #6
@kh01 Yes. The async/await part of mysql2 is blocked until we solve #60. We will update our progress as soon as possible.

[2018-11-16 01:21] jafl commented on #6
@kh01 Partial support for mysql2 was added in #62 and #68

[2018-11-19 15:29] rochdev commented on #60
We're having a similar conversation in https://github.com/opentracing/opentracing-javascript/issues/112. Since the purpose and the concerns are the same, I'm thinking maybe you would be interested to join the conversation and maybe this can be made as a library that is not specific to either OpenTracing or AWS X-Ray.

Thoughts?

P.S.: there is a know [memory leak](https://github.com/othiym23/async

[2018-11-20 21:56] chrisradek commented on #34
Reopening. #64 added support for using `pg` with the promise-based API, but not the callback-style API.

So the following will work:
[code]
but this will still cause an error (when using xray):
[code]

[2018-11-21 14:18] tomasbruckner commented on #3
+1

[2018-11-21 14:36] tomasbruckner opened #75 "captureHTTPsGlobal empty response"
Hi,

I am using `captureHTTPsGlobal` for outgoing https requests and it works fine. It traces every http requests. It shows response status code and HTTP method correctly, but the response itself is empty and content length of the response is 0, even though I know it returns something.

Do I need any extra setup to show responses in the trace log?

[2018-11-21 17:09] awssandra commented on #75
Hi Tomasbrunckner,

The http patcher does not capture the response body.
https://github.com/aws/aws-xray-sdk-node/blob/3f488df35325adb5b1aa0b5d774211f996e81d11/packages/core/lib/segments/attributes/remote_request_data.js#L13

If you wish to capture the body, you can modify the sub/segment in flight when handling the response data:

xray.getSegment().addMetadata(<key>, <value>, <(optional) namespac

[2018-11-21 21:41] chrisradek commented on #60
I've created an experimental branch to test out cls-hooks. The branch is currently published to npm using the `@experimental` prerelease tag. This is to immediately unblock usage of async/await and give us a chance to experiment with other options as well.

[2018-11-27 16:03] voxpelli commented on #14
Definitions are getting increasingly common among projects and since Typescript at least nowadays can also be used to lint pure js I think it's a very good suggestion.

However: Anyone can contribute type definitions for this package to the @DefinitelyTyped project: https://github.com/DefinitelyTyped/DefinitelyTyped#create-a-new-package

[2018-11-29 00:20] awssandra commented on #54
Since the issue is the bundled size of the SDK now addressed in [PR 73](https://github.com/aws/aws-xray-sdk-node/pull/73) I will close this issue unless there are any further concerns.

Thanks!

[2018-11-29 00:20] #54 closed

[2018-11-29 10:57] johnbradleyCs commented on #54
@awssandra I don't believe that PR 73 resolves this issue - the node_modules folder will still contain the aws-sdk + all depedencies after 'npm install'.
Unless I'm missing something obvious (I might be...) add something like the suggested https://github.com/serverless-heaven/serverless-webpack as suggested in the comment in  #https://github.com/aws/aws-xray-sdk-node/pull/55 to remove the aws-sdk

[2018-11-29 23:42] jafl commented on #34
I found the issue:  `client.query` return `null` when not using promises.  I submitted #77

This is tested with pg 7.7.1

[2018-11-30 16:59] dougmoscrop commented on #60
Here are two executions (one shortly after the other), of the exact same function:

<img width="1035" alt="screen shot 2018-11-30 at 11 25 21 am" src="https://user-images.githubusercontent.com/586516/49301478-b2627680-f492-11e8-8a53-86e09da7ecdf.png">
<img width="1060" alt="screen shot 2018-11-30 at 11 25 30 am" src="https://user-images.githubusercontent.com/586516/49301479-b2627680-f492-11e8-8d70

[2018-12-03 16:25] scandinaro opened #78 "Restify - sub/segment error"
When trying to use restify and the dynamodb document client I get the following sub/segment error

[code]

**My restify app.js code:**
[code]

**My dynamodb module:**
[code]

[2018-12-03 17:39] chrisradek commented on #60
@dougmoscrop
Thanks for reporting your findings on using the experimental branch. I'll take a look at your test case and  investigate why the subsegment isn't being sent when each Lambda invocation ends.

By chance, have you seen this issue happening outside of Lambda functions?

[2018-12-03 17:55] dougmoscrop commented on #60
Sorry, I don't have any non-Lambda based use of X-Ray.

I think if anything this can make it *appear* like the experimental branch isn't working although It seems a separate issue from actual async/await support.

[2018-12-03 18:42] awssandra commented on #78
Hi Scandinaro,

We have an open issue with Dynamo Document Client here:
https://github.com/aws/aws-xray-sdk-node/issues/23

Could you verify if the work around fixes your context propagation issue?

Thanks,
Sandra

[2018-12-03 18:45] awssandra commented on #58
Closing in favor of https://github.com/aws/aws-xray-sdk-node/issues/60

[2018-12-03 18:45] #58 closed

[2018-12-03 18:45] awssandra commented on #50
Closing in favor of: https://github.com/aws/aws-xray-sdk-node/issues/60

[2018-12-03 18:45] #50 closed

[2018-12-06 15:53] jostendorf opened #80 "aws-xray-sdk-core increased size due to aws-sdk"
Recently a change was completed to move aws-sdk out of dependencies into dev dependencies in the parent package.json.  Is it possible to move it in the aws-xray-sdk-core package.json as well?  Or will that cause issues?

[2018-12-06 17:02] chrisradek commented on #80
Hi @jostendorf
The aws-xray-sdk-core package does require the aws-sdk to be present at runtime for the centralized sampling functionality to work, so we can't move it to be a dev dependency.

Are you generating a bundle for your app? #73 will address some of the size concerns by only importing the xray service instead of the entire SDK, though if you're pushing all of node_modules somewhere then y

[2018-12-06 21:36] scandinaro commented on #78
@awssandra above I'm using one example from that linked issue solution, and then below I just tried the last suggested solution from @monken, but I'm still receiving the same error.  It seems like maybe this solution works for express, but not restify?

[code]

[2018-12-06 22:00] awssandra commented on #78
That should not be the case. The SDK uses CLS behind the scenes to propagate context, regardless of the framework in use. The context is either getting lost as a part of the Restify hook, or in the AWS call.

Do any other AWS calls work?
Can you verify if a "xray.getSegment()" call in the route returns the base segment?
What version of Restify are you using?
Is the "xray.enable(<server>, <name>)"

[2018-12-11 17:31] jostendorf commented on #80
You don't need to put the aws-sdk in a lambda layer.  You get it for free in the lambda container.  I have figured out a way to remove this nested dependency using serverless-webpack.  This issue can be closed.

Add this to the custom tag:

    packagerOptions:
      scripts:
        - rm -rf node_modules/aws-sdk

[2018-12-11 17:31] #80 closed

[2018-12-13 21:32] haotianw465 opened #82 "Switch AWS SDK dependency to v3"
AWS SDK for JavaScript just launched v3 for Developer Preview. The new version has modularized packages. The X-Ray SDK has a direct dependency for AWS SDK X-Ray client on service sampling rules feature.

The X-Ray SDK should switch to v3 xray client module when it is production ready.

[2018-12-19 17:05] chris-feist opened #84 "Use lodash modules for package dependencies"
To reduce the bundle size, lodash method modules should be used for package dependencies instead of the whole lodash library. See https://www.npmjs.com/search?q=keywords:lodash-modularized.

Looking at #43, it appears there are only a handful that need to be added.

[2018-12-19 21:23] nagendradarla opened #85 "Need Sample Node.js code on how to use AWS-SDK with node function in *.js files"
I have below questions specific to out project.
- Can we use AWS-SDK with out node.js files and function on AWS with minimal changes. Right now the documentation is at very high level. I do not understand where the code changes have to be done.
- Do we have to make changes in each and every function in *.js files OR one code change per *.js file OR one code change across all *.js files.

[2018-12-19 21:51] chrisradek commented on #85
@nagendradarla
Are you looking for an example of how to instrument your code that is using the AWS SDK?

Are you also using a framework like express to process incoming requests, or do you want an example that's just an app using the AWS SDK?

[2018-12-19 22:04] chrisradek commented on #84
@chris-feist
Thanks for the suggestion. We're happy to consider safe changes that can reduce the size of the SDK. It also looks like we don't have to use lodash for everything we're using it for today, and could possibly just use vanilla JS instead in most cases.

Just curious, when you mention reducing the bundle size, do you mean when using a tool like webpack to create a bundle, or the contents

[2018-12-20 01:19] chrisradek commented on #85
@nagendradarla
Here's a simple example of how to use xray with the AWS SDK.

[code]

[code]

Assuming you have these files and the [AWS XRay daemon](https://docs.aws.amazon.com/xray/latest/devguide/xray-daemon-local.html) runing, `node index.js` should print your S3 buckets and send trace data to XRay.

XRay requires a root `Segment` to signify the start of a `trace`. The `traceWrapper` function i

[2018-12-20 08:00] nagendradarla commented on #85
Thanks @chrisradek
- I will try your sample code
- So it means that we have to write a wrapper and use it around each lambda function? Please confirm
- Is there any simpler way to configure or code at once place so that all the lambda functions will be monitored?

[2018-12-20 17:50] chrisradek commented on #85
@nagendradarla
When you're running inside a Lambda function and have [xray enabled](https://docs.aws.amazon.com/lambda/latest/dg/enabling-x-ray.html), then the xray sdk will automatically create the 'root' segment for you. Lambda provides the data the Xray SDK needs to be able to construct this. You don't need to write a wrapper in this case.

Have you already given that a try? I would recommend f

[2018-12-21 16:10] nagendradarla commented on #85
Hi @chrisradek
Can you let me know how to use XRay-Sdk  with promises and async calls.
We have only promises and async functions in my current project.

[2018-12-29 00:36] chrisradek commented on #85
@nagendradarla
Sorry for the delayed response.

If you're using `async` functions, then you'll want to depend on the `@experimental` version of the xray sdk. When you npm install the xray-sdk, just append `@experimental` to it. Internally, it depends on cls-hooks (instead of continuation-local-storage) which supports async/await.

You can use the stable version of the xray-sdk with promises (just

[2018-12-30 22:37] otbe opened #87 "[mysql] Support for getConnection of a pool"
Hi there,

I wonder why I dont see any mysql data in my xray traces and therefore I read over the source code of the `captureMysql`function. If I get it right it only patches `execute` and `query` on the return objects of `createConnection` and `createPool`.
I use [typeorm](https://github.com/typeorm/typeorm) as my ORM tool and it uses under the hood [`getConnection`](https://github.com/typeorm/ty

[2019-01-02 11:39] EugeneDraitsev opened #88 "Remove or optimize engines section"
If you will try to run `yarn` with node version >11, f.e. inside docker image node:latest you'll get an error:

[code]
It appears because of engines section in your package.json
[code]

So, question is do you really need node >= 4.x <= 10.x, or maybe you should replace it with >= 4.x and allow users to use aws-xray-sdk-node with latest version of node?

[2019-01-03 00:46] haotianw465 commented on #88
Hi @EugeneDraitsev, the SDK is only tested under <=10.x and we do have some work need to be done for testing against v11. I'm OK with removing this restriction and have some wording on the `README` about the version we officially support. I will post some update regarding this change as soon as possible.

[2019-01-03 12:08] fjsousa commented on #63
@kh01 did you make progress in this issue? I'm facing the same behaviour.

[2019-01-03 20:20] scandinaro commented on #78
@awssandra just following back up on this.

[2019-01-04 21:42] awssandra commented on #78
Hi scandinaro,

Apologies for the delay, much of the team was out for vacation (myself included) and recently back. We're diving into this and will update you as soon as we have more information.

Thanks,
Sandra

[2019-01-04 23:19] chrisradek commented on #78
@scandinaro
I'm trying to reproduce the issue you're seeing but haven't had much luck yet. Here's my full code based on the original example you provided:

__dynamodb.js__
[code]
__app.js__
[code]

Where do you attach your auth middleware? And are you using promises in your routes/middleware? I tried making the `GET /bar` route match your last use case where you get an item, then put an item as a

[2019-01-14 05:33] Timur2915 opened #90 "Node.js 11 support"
Is there any reason to restrict node.js > 10.x?

[2019-01-14 05:34] Timur2915 commented on #90
Closed as duplicate of #88

[2019-01-14 05:34] #90 closed

[2019-01-14 12:45] bradleyharrisonboat commented on #87
@otbe I am in the exact same position as you are with the typeORM getConnection. Have you had any luck?  This is important enough that I may fork but I loathe doing that if it cannot be added back into the main stack

[2019-01-14 17:02] chrisradek commented on #87
@otbe
Thank you for the request. We can take a look at supporting `getConnection`, and would love any help in supporting it, even if that just means providing a simple test case we can verify against.

Side note: Are you using async/await in your code? The experimental tag of the SDK does use cls-hooked instead of continuation-local-storage, with one benefit being it supports async/await.

[2019-01-14 17:25] otbe commented on #87
@chrisradek I use async/await in my code but TS transpiles it down to generators because some issues with another lib. If I use the latest version of this lib I get a strange error from [this](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/context_utils.js#L61) line. It seems that `getNamespace` returns null/undefined in my situation :/

[2019-01-15 10:36] yvele commented on #6
Any workaround to wrap `mysql2/promise`?

I tried

[code]

But tracing is throwing in [`mysql_p.js` at line 39](https://github.com/aws/aws-xray-sdk-node/blob/0e3e291825eaaac95fe6868a12c143d09ec7570b/packages/mysql/lib/mysql_p.js#L169)

[2019-01-15 19:23] jafl commented on #6
The problem with `pool.execute` is that node-mysql2 doesn't return a connection object, so aws-xray-sdk-node doesn't have anything to work with :(

[2019-01-18 16:40] Druotic opened #91 "When is next release?"
Just curious - when is the next release scheduled to happen? There a several recent fixes that would allow us to adopt xray in our project for postgres calls. Thanks!

[2019-01-21 18:44] chrisradek commented on #91
@Druotic
I'll get a new release prepped shortly. Thank you for your patience!

[2019-01-23 16:12] jboehle commented on #60
Any update on this? AWS Lambda has had a Node.js 8 runtime since 4/2/18. When is this SDK going to have a stable release that supports async/await?

[2019-01-23 16:14] dougmoscrop commented on #60
I haven't had time to really dive in to it, but after deploying the experimental branch, our traces still lack hierarchy too. It looked like it was working but wasn't. I realize this is a crappy/unhelpfully vague comment, but yeah this incompatibility between AWS services is being woefully under-addressed :(

[2019-01-23 17:42] chrisradek commented on #60
@dougmoscrop
Can you share an example of what your traces look like that lack the hierarchy you'd expect?

[2019-01-23 19:21] #34 closed

[2019-01-23 19:21] #88 closed

[2019-01-23 19:21] #91 closed

[2019-01-28 16:47] araines commented on #9
Has there been anything further on this?  Without the SQL query data, I don't really get much value out of instrumenting PostgreSQL.  I think the configuration proposals in the forums are sensible - it at least gives people the option on turning on query/parameter capture.

[2019-02-01 21:03] styfle commented on #60
Hello 👋

I want to be able to log the time it takes for an async function to return.

I tried the latest version of `aws-xray-sdk` available on npm (2.2.0) as well as the experimental version (2.1.0-experimental.1) and both of these resulted in the same error.

[code]

Here's my code

[code]

Am I using this API incorrectly or is this the same bug others are experiencing?

[2019-02-01 21:14] chrisradek commented on #60
@styfle
Are you running this example in Lambda or another environment?

[2019-02-01 23:01] chrisradek commented on #60
@styfle
This looks like an issue with the way you've added the x-ray middleware to your express app, combined with using async/await. You're right in that you would want to use the experimental release since you're using async/await.

I roughly converted your example to the following:
[code]

I also removed the open/close segment logic from your trace handler:
[code]

It looks like we currently re

[2019-02-01 23:06] styfle commented on #60
@chrisradek Thanks for the response! 😃

I'm not using express, I'm using [micro](https://www.npmjs.com/package/micro) which looks a lot like the Lambda API.

Maybe the missing `next` function is my problem?

[2019-02-01 23:56] chrisradek commented on #60
@styfle
Ah, the middleware you were using is meant for express, so I'm not sure it will work with micro. You might be able to get it to 'work' by passing the rest of your function as a callback to the `open` method you've defined, and calling close inside that as well.

You can also instrument your code manually. Here's an example of what that could look like, though I haven't used micro so not su

[2019-02-02 00:19] styfle commented on #60
@chrisradek You are amazing!!!!! 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

I spent hours trying to figure this one out and your solution (with a minor modification) worked 😄

Now the only thing missing is the URL disappeared from the console 🤔

![image](https://user-images.githubusercontent.com/229881/52156403-1dc4f200-2656-11e9-99fa-1ef185a468fd.png)

[2019-02-02 16:07] moonthug opened #94 "HapiJS Integration"
I've created a plugin for HapiJS (v17) based on the work you've done for Express. Would you be interested in adding it to your monorepo?

https://github.com/moonthug/hapi-xray

[2019-02-04 16:41] styfle commented on #60
@chrisradek On second thought, there are still problems when calling capture more than once. You can use this repository to reproduce the issue https://github.com/styfle/aws-xray-bug

Would you like me to create a new issue here or is this thread fine?

[2019-02-04 16:45] chrisradek commented on #60
@styfle
Would you mind creating a new thread for this issue?

[2019-02-04 17:29] styfle opened #95 "xray middleware for micro fails with Error: Failed to get the current sub/segment from the context"
I created a repository so you can reproduce the issue here:

https://github.com/styfle/aws-xray-bug

Related to #60

/cc @chrisradek

[2019-02-05 15:43] dougmoscrop commented on #60
Hey @chrisradek - would it be helpful if we opened an issue with our enterprise support? Or is this thread enough?

[2019-02-05 20:13] IevgenRagulin opened #96 "Lodash vulnerability, upgrade to 4.17.11"
Please, upgrade lodash to 4.17.11 to fix https://snyk.io/vuln/SNYK-JS-LODASH-73639

I've tried creating a branch, with a fix, but apparently I don't have the permissions:
ERROR: Permission to aws/aws-xray-sdk-node.git denied to IevgenRagulin.
fatal: Could not read from remote repository.

[2019-02-05 22:52] IevgenRagulin commented on #96
Thank you for getting back to me @chrisradek . I've realized we can force yarn use a later version of lodash since the version in aws-xray-sdk is specified as **^**4.7.10

[2019-02-05 22:54] chrisradek commented on #96
@IevgenRagulin
Yes, NPM should also allow you to specify a newer version as long as it's version 4.x. We'll still make the update to force users off of 4.17.10 in the future.

[2019-02-07 18:56] chrisradek commented on #95
@styfle
Are you seeing this issue everytime you attempt to trace your micro app? One thing I noticed is your package.json uses aws-xray-sdk@2.2.0, but for async support, you'd want to be using aws-xray-sdk@2.1.0-experimental.1

When I ran your example with this change, I was able to see multiple traces when calling the endpoint with GET.

[2019-02-10 22:48] styfle commented on #95
@chrisradek Thanks for the response!

I ended up changing the code to use `aws-xray-sdk@2.1.0-experimental.1` but I still needed to access private APIs to get it to log HTTP Request and HTTP Response.

Here's what I ended up with.

[code]

Even with these private APIs, I still sometimes does not log the HTTP Response 🤷‍♂️

[2019-02-11 18:54] fjsousa opened #100 "Failed tracing errors on xray.getSamplingTargets and x-ray.getSamplingRules"
I get failed tracing errors on `xray.getSamplingTargets` and `xray.getSamplingRules` calls after enabling tracing for all Amazon clients:

```const AWS = AWSXRay.captureAWS(require('aws-sdk'))```

The failed traces are polluting the logs, but otherwise, they're not a big issue. I can't, however, figure out how to avoid them:

Seems like X-Ray traces its own calls when capturing the entire AWS SDK.

[2019-02-11 19:49] chrisradek commented on #100
@fjsousa
We should make sure that we don't attempt to trace calls made by the xray sdk, so I'll mark that as a bug since based on your findings we're doing just that.

The DynamoDB DocumentClient is interesting in that even when you pass in a service client, it is actually creating a new service client based on the configuration of the client you gave it. That means if you try to pass in a 'captur

[2019-02-12 19:41] styfle commented on #95
@chrisradek I think I found another bug.

I can't seem to use an annotation key that contains a hyphen.

For example `segment.addAnnotation('x-now-id', 'abc123')` does not work but `segment.addAnnotation('xNowId', 'abc123')` works as expected.

Is this a known limitation or a bug?

[2019-02-12 20:12] chrisradek commented on #95
@styfle
Annotation [keys](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-nodejs-segment.html#xray-sdk-nodejs-segment-annotations) can be up to 500 alphanumeric characters. No spaces or symbols except underscores. Values can be up to 1000 unicode characters.

[2019-02-12 22:38] styfle commented on #95
I see now.

It was silently dropping that data even with the following flags:

[code]

I would expect to see some sort of logging error when a segment does not meet this criteria.

[2019-02-13 19:29] styfle commented on #95
For some strange reason, there is no response logged around 30% the time (even with my `res.on('finish')` hack above.

![image](https://user-images.githubusercontent.com/229881/52734404-1e815080-2f93-11e9-99e6-ca59d4b66b48.png)

[2019-02-14 11:44] fjsousa commented on #100
Thanks, @chrisradek. Went with number one and it worked like a charm. Still some dynamo traces are failing with a missing context failure but that's an unrelated issue I think.

[2019-02-18 10:57] kematsuu commented on #63
@kh01 @fjsousa I got same problem. Did you solve it?

[2019-02-18 15:13] fjsousa commented on #63
I found that `AWSXRay.captureHTTPsGlobal` seems to be tracing XRay calls, which fails with a context not found error. I passed an environment variable to stop XRay from crashing and log the failed traces instead: `AWS_XRAY_CONTEXT_MISSING=LOG_ERROR`

[2019-02-18 16:42] chrisradek commented on #63
@fjsousa
Have you tried calling `AWSXRay.capturePromise()` somewhere in your code? Since `node-fetch` is a promise-based API, you may need to run the above command once to ensure that context is handled correctly when promises are used.

[2019-02-18 18:46] fjsousa commented on #63
Actually using bluebird promises, so doing this instead:
[code]

[2019-02-18 19:08] fjsousa commented on #100
@chrisradek also, globally capturing http calls seems to produce a similar error (plus other failed traces). I've got a service where I'm capturing dynamo db (capturing `DocumentClient` as you described above) and outbound http calls with:

[code]
X-Ray tries to trace all outboud http calls (including ones made internally by the AWS client) but some fail with missing context like:

`Options for re

[2019-02-19 01:25] chrisradek commented on #100
@fjsousa
Those errors are peculiar. When you get those Options errors, do you also failures creating traces for your AWS calls?

Are you able to provide a small code sample that reproduces this issue? It seems like context is getting lost when your credentials are refreshed, which would be odd if the AWS operation the that triggers the refresh was being traced properly.

[2019-02-19 06:43] kematsuu commented on #63
In my case, express-session seems to cause the problem. Calling openSegment before express-session, aws-xray-sdk doesn't work. I don't know the reason. Below is the solution.
[code]

I can see node-fetch calls api with trace-id just by using captureHTTPsGlobal.

[2019-02-19 17:10] fjsousa commented on #100
No, my Dynamo DB calls show up in the X-Ray console.

Sure, let me try and reproduce the error in a concise code example.

[2019-02-19 20:03] styfle commented on #95
@chrisradek  The `experimental` tag does not work with Node 11.

[code]

Is there a reason why the package.json specifies `<= 10.x`?

[2019-02-22 12:55] angezanetti commented on #3
+1

[2019-02-28 06:58] jhecking opened #103 "Critical dependency warning when bundling XRay SDK with webpack"
Since adding aws-xray-sdk-core to my package dependencies, I'm getting the following warnings when bundling my package using webpack:

[code]

Webpack tries to resolve require calls statically to make a minimal bundle. When a library uses variables in a require call (such as [this line](https://github.com/aws/aws-xray-sdk-node/blob/d37d2d5dda348f263ca555389a6613ee2ae834be/packages/core/lib/patcher

[2019-02-28 16:31] #100 closed

[2019-02-28 17:28] chrisradek commented on #103
@jhecking
Thank you for reporting this. I'll have to dig into why we used a `require` to load a JSON file instead of the `fs` module, since changing that now could break if users were passing in a node module that contained their JSON.

However, when I commented out that line, and also the dynamic require in `colors`, the size of my bundle didn't decrease at all, so there doesn't appear to be any

[2019-03-01 02:33] jhecking commented on #103
Thanks for looking into this. It's good to know that the bundle size is not affected. However, the warning messages are quite annoying.

The colors package has actually fixed the issue quite a while ago in Marak/colors.js#200. But it looks like you would have to update winston to v3.x in order to get the newer version and I think I saw some ticket about an incompatibility with that version?

[2019-03-07 17:23] crystalin opened #104 "Segment not sent when request is aborted"
The openSegment function relies on `res.on('finish', function () {` to send the segment to the deamon.
However if the request is aborted (because the client timesout for example), the "finish" event is not sent (the "close" event is sent instead it seems)

A solution similar to https://github.com/jshttp/on-finished would be more reliable

[2019-03-07 17:28] chrisradek commented on #104
@crystalin
Thank you for opening this issue, that's a good find! Will mark this as a bug, I agree we need to handle the aborted request scenario.

[2019-03-19 21:35] darcoli opened #106 "Default annotations and metadata for captureAWS()"
Typically we use `captureAWS(require('aws-sdk'))` to patch all aws sdk calls and get xray traces with subsegments for all sdk calls. There are cases where one would want to add default annotations and/or metadata to all these traces but I do not see a way to achieve this.

For example, in our organisation we use separate cloudformation stacks to have isolated development environments within the sa

[2019-03-19 23:04] alex-at-cascade commented on #14
This would be very nice to have, as it's very frustrating how the `AWSXRay.captureAWS(...)` call obscures the valuable `.d.ts` declarations provided by the AWS sdk.

[2019-03-20 00:45] kerbyferris commented on #14
As a workaround, generics can help. Creating a `aws-xray-sdk.d.ts` types file with something like the following will satisfy the compiler without obscuring AWS sdk declarations:

[code]

[2019-03-20 17:18] awssandra commented on #106
Hi Daricoli,

Sounds like a good use case. I'm wondering if instead we could rework the AWS whitelist file to add an annotation qualifier. For metadata (which cannot be filtered), you can simply add the requested fields into the whitelist, and the patcher will automatically record it.

https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/resources/aws_whitelist.json

Whitelist co

[2019-03-20 22:26] darcoli commented on #106
Hi Sandra
Thanks for your prompt reply. Actually I did review the whitelist configuration but from what I can see this only deals `aws-sdk` calls. I would also like to have this functionality for other patchers such as `captureMysql()` - the way I see it, the approach I suggested can be adopted for all `capture*()` calls.

Today I got this to work for `captureAWS` and `captureMysql`. I can create

[2019-03-26 09:01] SamVerschueren opened #107 "Add support for setUser"
Hi!

I was looking for a way to attach my user id to my trace so I could use the `Group by User` in the XRay console.

I noticed that Java has a `setUser(id)` method which is documented [here](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java-segment.html#xray-sdk-java-segment-userid).

I tried to do the same in Node.js but looked into the code and couldn't find anything regarding thi

[2019-03-27 15:46] manchuck commented on #95
@styfle  The reason for working on node ``<= 10.x`` is due to the lambda execution environment. Lambada currently executes ``node @ 8.10``

[2019-04-01 19:26] chrisradek commented on #106
@darcoli
With regards to your use-case, would setting an annotation on your root segment in your app with your environment information suffice? When you write a filter expression that checks the value of an annotation, you should see a service graph that includes traces that contain any segments with your annotation.

Your idea for `captureAWS` and `captureMysql` is interesting. One thing we'll ha

[2019-04-02 10:28] darcoli commented on #106
@chrisradek I am using this from lambda functions and it seems I can only add annotations/metadata on subsegments. Otherwise i get an error: `Function "addMetadata" cannot be called on an AWS Lambda segment.`

You can review the changes to `aws-xray-sdk-core` in my branch. Did not push the mysql changes because i am waiting for #98 to be merged ;)

[2019-04-04 15:49] manchuck opened #110 "Failed to get the current sub/segment when writing unit tests"
I'm trying to write a unit tests for a function which is traced. I've been stuck trying to bootstrap the test.

``src/mysql.js``:
[code]
``tests/mysqlTest.js``
[code]

When executing the test, I'm getting ``Error: Failed to get the current sub/segment from the context.``.

[2019-04-04 20:55] bluehawk27 commented on #110
I'm running into this as well when running jest in an automated unit test run with codebuild.

[2019-04-05 12:52] samhuk opened #111 "Unsafe access on cls.getNameSpace()"
In lib/context_utils.js, unsafe access in `setSegment: Function`:

[code]

[2019-04-06 04:25] okonon commented on #60
Also interested in `async/await` support. More and more of modern apps are switching to this pattern and reducing X-Ray's value proposition.

[2019-04-09 18:51] awssandra commented on #60
@okonon Agreed. Proper context propagation is still a difficult problem to solve in the JS world. The discussion is also present on the OpenTracing github page, and it seems zone.js will not fix the async/await issue.

A experimental branch is available, however, cls-hooked still has known issues, and does not appear to be in active development at this time.
For further reading: https://github.com

[2019-04-10 15:56] abeMedia commented on #3
Is there any plans for this? I'd be happy to contribute...

[2019-04-10 17:07] awssandra commented on #3
@abeMedia sorry for the delay, we do accept (and highly appreciate) PRs and we are happy to work with you to get this out the door sooner than later.

[2019-04-12 10:28] nilkrdg opened #112 "Sql query subsegments are not shown in AWS X-ray management console"
I am working on a REST API which is running on a Lambda function with Node 8.10 version. The requests to lambda function comes from the AWS API Gateway service. I have added
open/close segment calls before and after routes settings in my App class with aws-xray-sdk version 2.2.0.

[code]

I have used the aws-xray-sdk-core version 2.2.0 to call captureAsyncFunc. I couldn't use aws-xray-sdk-postgres

[2019-04-12 12:16] alvis commented on #60
I tried both the ordinary and the experimental releases, and both of them have the same issue. Same as @dougmoscrop, my code is deployed as a lambda function. I use the serverless framework for packaging and deployment.

[2019-04-15 17:59] mrchief opened #113 "Can the bundle size be reduced?"
According to [bundlephobia](https://bundlephobia.com/result?p=aws-xray-sdk-core@2.2.0), the core package weighs at 98kb minified+gzipped. Is there any way to reduce this bundle size?

![image](https://user-images.githubusercontent.com/781818/56154513-af21e000-5f86-11e9-8ff4-6181b87b966c.png)

lodash and winston seem to be obvious targets. lodash supports tree shaking (as well as has individual pac

[2019-04-15 19:59] chrisradek commented on #113
@mrchief
#99 was just merged to remove the `lodash` dependency. We have to be more careful about replacing `winston` as we would need a logger that output the same way `winston` does today but otherwise I think that's a fair change to make.

Longer-term we'll also be able to replace the `aws-sdk` with [@aws-sdk/client-xray-node](https://github.com/aws/aws-sdk-js-v3/tree/master/packages/client-xray

[2019-04-16 00:50] mrchief commented on #113
@chrisradek This is great news!

Yes, I totally understand. I'm not deeply familiar with the subject, so I can't say for certain whether this would work out, but I've found [pino](https://getpino.io/#/) to be very modular (in addition to being fast and lightweight). It has a big [ecosystem](https://getpino.io/#/docs/ecosystem) of modules so you can pick and choose the ones you actually need.

Ulti

[2019-04-18 19:48] #87 closed

[2019-04-19 19:43] #84 closed

[2019-04-23 01:15] keroic opened #121 "TypeError: Cannot read property 'then' of undefined"
I am trying to use 2.3.1 Release to use MySQL Pool getConnection function, but seems it throw the error and exit my application.

TypeError: Cannot read property 'then' of undefined
Pool.patchedGetConnection [as getConnection] (/usr/src/app/node_modules/aws-xray-sdk-mysql/lib/mysql_p.js:111:16)
at Promise

Anything I missed to config? :-(

[2019-04-23 16:24] chrisradek commented on #121
@keroic
This looks related to #120
We merged that in yesterday, I'll cut a release today that includes this change.

[2019-04-23 16:27] chrisradek commented on #111
@samhuk
It looks like this was edited a few times. Can you share more details on what steps to take to encounter an issue? Are you getting an error, or seeing unexpected behavior?

[2019-04-23 16:46] samhuk commented on #111
Ah yes of course. My initial issue was with another different npm package that used cls-hooked (correlation-id). It turns out that other packages that later initialise this local storage feature will overwrite the storage and cause this line to throw a fatal exception.

[2019-04-23 16:53] chrisradek commented on #111
Are you using the `experimental` branch of the SDK which depends on `cls-hooked` then? Or the stable version (which is what you'd get if you didn't specify a tag when npm installing) that depends on `continuation-local-storage`?

[2019-04-23 16:59] chrisradek commented on #112
@nilkrdg
If you invoke your lambda function a couple times, do you start to see SQL query subsegments?

If your Lambda function returns a promise, or is using async/await, can you try updating it so that the last line of your handler passes the return value (assuming resolved promise) to the callback function that's an argument to your handler?

[2019-04-23 17:01] chrisradek commented on #110
@manchuck
Are you using the `experimental` version of the SDK? That version supports async/await.

You can install it using: `npm install --save aws-xray-sdk@experimental`

[2019-04-23 17:02] chrisradek commented on #96
This can be closed as we've updated the lower bound.

[2019-04-23 17:02] #96 closed

[2019-04-23 17:03] chrisradek commented on #94
@moonthug
Thank you for writing this plugin for Hapi! I'll bring this up with the team internally to discuss.

[2019-04-23 17:07] chrisradek commented on #95
Closing this since we started talking about multiple issues. If you are still encountering issues after installing the `experimental` tag of the SDK, please feel free to open a new issue.

[2019-04-23 17:07] #95 closed

[2019-04-23 17:16] chrisradek commented on #78
Closing due to inactivity, but feel free to open a new issue if you are still encountering this error.

[2019-04-23 17:16] #78 closed

[2019-04-23 18:52] samhuk commented on #111
Sorry for not clarifying. Both of the packages interact with the same storage. What originally motivated me creating the issue was that if one does an `import ... from aws-xray-sdk-node` and next line `import ... from {a-cls-package}`, the initialisation of a-cls-package could wipe the namespace from the storage, and then the unsafe access causes an error instead of gracefully failing ot reinitial

[2019-04-23 20:02] awssandra commented on #60
@alvis

Sorry for the issues, This is a known issue with the Lambda Async handler. We are working internally to  have it fixed.

[2019-04-25 20:37] #121 closed

[2019-04-26 14:32] shamimmirzai opened #125 "Getting error: Cannot read property 'bindEmitter' of undefined"
Hi.  I've been unable to get X-Ray to work with our nodejs/express application.  As far as I can see I've followed the documentation, but anytime I make a request to the express app, it fails with the following error:

[code]

The relevant code in `server.js` is:

[code]

The `package.json` file is:

[code]

Any assistance would be appreciated.  Thanks

[2019-04-26 17:37] chrisradek commented on #125
@shamdsc
The code sample you provided looks like it should work assuming that's just your boilerplate.

I recently created #124 which tests the X-Ray SDK in an express app. The logic to actually create the app is very similar to what you've got: [link](https://github.com/aws/aws-xray-sdk-node/pull/124/files#diff-001aba8211f5fce0dd0ca087443ac436R15)

I modified [this line](https://github.com/aws/aw

[2019-04-26 17:42] chrisradek commented on #125
@shamdsc
Also, do you happen to be using any modules that work with `continuation-local-storage`? The error you're getting indicates that the SDK's context in `continuation-local-storage` isn't available when the `openSegment` middleware is called, so I'm wondering if maybe another dependency is doing something that clears that context out.

[2019-04-26 17:47] chrisradek commented on #111
@samhuk
Thanks for reporting this. I see now that the issue has something to do with `continuation-local-storage` and `cls-hooked` being imported in the same project. One overwrites the other.

It looks like we may have to update our code to create the namespace if it doesn't exist. If you switch to the `experimental` tag of the SDK (npm install --save aws-xray-sdk@experimental) does this issue go

[2019-04-26 17:48] chrisradek commented on #125
I suspect this is related to #111. Can you also check if `cls-hooked` exists in your `node_modules` directory? If so, can you try installing the `experimental` branch of the x-ray SDK?

[2019-04-29 16:32] samhuk commented on #111
Only just looking at this now. Good work, can confirm it works with other cls package.

[2019-04-30 19:48] jboehle opened #127 "release notes"
I see there have been several releases recently. Are there release notes somewhere so we can know what's changed?

[2019-04-30 19:53] chrisradek commented on #127
@jboehle
The starting place to see release notes would be the `full_sdk` package [CHANGELOG.md](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/full_sdk/CHANGELOG.md)

We should add a link to this from our main README as well to help with discoverability.

[2019-05-02 11:29] #111 closed

[2019-05-02 21:06] #49 closed

[2019-05-02 21:06] #104 closed

[2019-05-03 09:07] keroic opened #134 "npm package 2.3.3-experimental.1 issues"
Found that the Experimental Package was not working and keep throw Failed to get the current sub/segment from the context.

I have tried to install 2.2.0 and 2.3.3 to make comparison.

Seems the cls require was point to continuation-local-storage instead of cls-hooked and cause the case.

Is it possible to release another npm Experimental package release, thanks!

[2019-05-03 15:09] yogiraj07 commented on #134
Hi @keroic ,
Can you clear your node_modules folder and install experimental SDK via npm : `npm install —save aws-xray-sdk@experimental`.

There hasn't been any change with respect to cls-hooked storage on `experimental` branch. Please let me know if you still face the issue.

Thanks,
Yogi

[2019-05-03 16:41] awssandra commented on #127
Added link in readme: https://github.com/aws/aws-xray-sdk-node/commit/ad817e5ccfbb803ec4140cd8a457be579ea3cc1c

[2019-05-03 16:41] #127 closed

[2019-05-04 04:19] keroic commented on #134
Yes, I have tried to remove the node_modules and also remove the aws-xray-sdk from the package.json, and re-run npm install —save aws-xray-sdk@experimental

And check the node_modules/aws-xray-sdk-core/lib/context_utils.js still state require "continuation-local-storage" package

I have done this for few times, the same result was encountered, moreover, I have tried also run the install in diff Ma

[2019-05-06 09:33] shamdsc commented on #125
@chrisradek many thanks for all your comments and assistance 🙏🏻.  Using the experimental branch seems to eliminate the error.  Much appreciated.  Is there any way for me to be notified once those changes make it into the mainstream package?

[2019-05-06 23:27] yogiraj07 commented on #134
Hi @keroic ,
We are looking into this issue. Please stay tune for the update.

[2019-05-07 00:19] haotianw465 commented on #134
For now you can manually install `aws-xray-sdk-core@experimental` to force the core module depending on `cls-hooked` to be picked up while we are investigating the root cause.

What we've found so far is that the submodules of `aws-xray-sdk` are resolved to wrong url by `npm install`. Here are the relevant `package.json` entries when using different install commands:

NPM version `6.9.0`

**npm in

[2019-05-07 00:52] haotianw465 commented on #134
So we found the root cause. For the stable release the `aws-xray-sdk/package.json` has been always look like this:

[code]

For the experimental release it is critical to keep `^` away since `^` allows npm to get the latest version and by `semver` definition `2.3.3` **is** newer than `2.3.3-experimental.*`. For the previous versions of experimental releases the `aws-xray-sdk/package.json` looked l

[2019-05-07 01:36] yogiraj07 commented on #134
Hi @keroic ,
We have released version `2.3.3-experimental.3`. Would you mind checking if it resolves your issue?

[2019-05-07 02:51] keroic commented on #134
Thanks for finding.

I just try to install 2.3.3-experimental.2, but found that already 2.3.3-experimental.3 now, what's quick update!

But, I try to install 2.3.3-experimental.3, seems my web services code would freeze in somewhere, looks like something in "Promise" can't be resolved.

However, when I revert to 2.2.0-experimental.1, my web services code can back to normal.

[2019-05-07 13:32] okonon commented on #112
@nilkrdg did you have a chance to do the above?

[2019-05-07 17:00] yogiraj07 commented on #134
@keroic ,
Can you tell a bit more of the issue with your app.
1. What is the error stack with Promise?
2. How does the call looks like?
3. What is your environment set up? How are you deploying the app?
4. A small reproduction code snippet will be helpful.

[2019-05-08 12:47] rrosenblum opened #136 "Unable to connect to mysql after upgrading to 2.3.3"
After upgrading from version 2.2.0 to 2.3.3, I am unable to connect to mysql. I believe this is related to #98. There isn't much of an actual error being produced that I can see. The lambda just winds up timing out without ever actually connecting to mysql. I have tried increasing the timeout. I think this might be related to #98.

I have tried 2 different ways to capture mysql.

[code]

[code]

[2019-05-08 17:30] awssandra commented on #136
Hi rrosenblum,

Sorry for the issues. We'll do some testing on our end to see what the issue is. I think it's a fair call that the mysql2 changes may have broken the mysql patch functionality.

[2019-05-08 22:09] M-TGH commented on #136
Hey,

Thanks for the report. My apologies for any inconveniences. I didn't have too much time so far to look into it, but I was able to reproduce it. For now it should be alright to (temporarily) remove the parts that patch a Pool it's getConnection function.

So far it looked like it's somewhere down that line that something was hitting a snag, maybe because the MySQL package internally uses getC

[2019-05-09 06:36] M-TGH commented on #136
After looking into it further, Pool.query creates a Query instance and a connection and then calls the connection.query function with only the Query instance as argument. This falls into this case, from further up in query: https://github.com/mysqljs/mysql/blob/99d6f78ba00f926de162dbef42865029b6e8ec39/lib/Connection.js#L26

It's currently going into this if statement: https://github.com/aws/aws-xr

[2019-05-10 14:28] ChenLi0830 opened #138 "Difference with using aws-sdk directly?"
Hi there, what is the difference between this package and using the aws-sdk/clients/xray directly?

https://github.com/aws/aws-sdk-js/blob/master/clients/xray.d.ts

[2019-05-10 17:36] awssandra commented on #138
Hi ChenLi0830,

X-Ray is built with the idea that every component of your distributed service emits a segment which is constructed into a trace by the X-Ray service. A trace represents a single transaction (for example, a single GET request to your web front-end) and the resultant chain of calls that propagate through the service, with each component collecting and transmitting their own data, as

[2019-05-10 18:16] ChenLi0830 commented on #138
@awssandra Thank you for the detailed answer Sandra! Closing the issue.

[2019-05-10 18:16] #138 closed

[2019-05-16 09:02] AndreaAdvanon opened #139 "_X_AMZN_TRACE_ID is missing required data."
I have a serverless project where I'm using 2 different services I'd like to use with xray:
- ssm
- rds (postgres)

As soon as I run this code:
[code]

I get these logs:
[code]

And I do not see traces for ssm calls.
I do see RDS traces later in the execution.

The `captureAWS` and `ssm` calls happens during the initialization of the container (I think), since they run in a [middy](https://github.

[2019-05-16 18:18] awssandra commented on #139
Hi AndreaAdvanon,

Sorry for the issues. The _X_AMZN_TRACE_ID is not available outside the function handler (a known shortcoming of the current Lambda/X-Ray integration). We're planning to work with the Lambda team to better define a more complete X-Ray experience.

Documentation: https://docs.aws.amazon.com/lambda/latest/dg/downstream-tracing.html

[2019-05-17 12:11] AndreaAdvanon commented on #139
thanks for your answer @awssandra, is it safe to ignore these logs?

[2019-05-17 17:27] awssandra commented on #139
Hi AndreaAdvanon,

They serve as a notification that tracing could not be initiated, but no harm will come from them. However, you can choose to capture specific AWS clients if you would like to avoid the messages (or construct the clients you'd like to opt-out before capturing the AWS SDK).

Hope this helps,
Sandra

[2019-05-20 10:08] yvele commented on #136
I confirm the bug with `2.3.3` and `2.3.0`

[2019-05-28 01:35] joebowbeer commented on #60
Now that [DataDog](https://github.com/DataDog/dd-trace-js), [Honeycomb](https://github.com/honeycombio/beeline-nodejs), [NewRelic](https://github.com/newrelic/node-newrelic), [Stackdriver](https://github.com/googleapis/cloud-trace-nodejs), and even [Bluebird](https://github.com/petkaantonov/bluebird/issues/1403) are all leveraging `async_hooks`, is it time to _mainline_ the experimental branch?

[2019-05-29 13:56] manchuck commented on #110
@chrisradek Yes I am using ``2.1.0-experimental.1``

[2019-05-29 21:40] #139 closed

[2019-05-30 18:30] SamVerschueren opened #141 "How can I show the error being thrown in XRay console?"
Hi

I'm using XRay with AWS Lambda and was wondering why an error, thrown in my code, doesn't end up in in the `Exceptions` tab inside the `Segment`?

What I do in my Lambda handler is just `throw new Error('Hello world');` but the `Exceptions` tab stays empty.

![image](https://user-images.githubusercontent.com/1913805/58655063-97759f80-8319-11e9-8c1f-ad156486b9ad.png)

The overview shows that so

[2019-05-30 22:42] duro opened #142 "Jest tests locking up"
I am writing some unit tests around some code that is including the xray-sdk, and I am getting some errors with my jest tests:

[code]

When I run my tests with `--detectOpenHandles` I get the following back:

[code]

I have tried to add conditionals in my code that pretty much disable xray when we are in a jest environment, but I still keep getting these errors.

[2019-05-30 23:35] duro commented on #142
I got to the bottom of this, and it turns out it was something completely unrelated that was hanging Jest, but for some reason the `--detectOpenHandles` was calling out `aws-xray-sdk-core` for some odd reason.

[2019-05-30 23:35] #142 closed

[2019-06-05 12:07] sergiovm commented on #14
Somebody created a basic definition here:
https://github.com/mziyabo-aws/aws-xray-typings

Not perfect though...

[2019-06-11 15:38] james-stanley commented on #142
What ended up being the issue? I'm experiencing the same error and am looking for any hints

[2019-06-11 17:00] duro commented on #142
@james-stanley something else was causing Jest to not exit after tests. In my case it was a connection to my database. For some reason Jest likes to single out X-Ray when it cannot otherwise figure out what the open handle is.

[2019-06-12 14:03] manchuck commented on #134
This looks like the same problem I'm having in #110 I am running the same version and having issues when running tests

[2019-06-12 17:27] awssandra commented on #141
Hi SamVerschueren,

Sorry for the late reply.
Can you post your raw trace data? I want to see if the stack trace/error is on the segment at all.

[2019-06-14 21:48] awssandra commented on #103
Incompatibility here: https://github.com/aws/aws-xray-sdk-node/issues/48

Regardless, we should consider upgrading.

[2019-06-18 14:26] EGrun opened #143 "Nodejs10.x Error: Missing AWS Lambda trace data for X-Ray."
After updating to the 'nodejs10.x' runtime environment, I am now seeing this error message at the start of the cloudwatch logs:
[code]

We are using, ```AWSXRay.captureHTTPsGlobal(require('http'));``` to capture all http requests and this is the source of the error. It is also capturing all calls to 127.0.0.1 as part of the runtime event loop.

A fix was to move the captureHTTPsGlobal command insi

[2019-06-24 23:29] awssandra commented on #143
Hi EGrun,

Lambda does not have the X-Ray header until the function handler is run. You should be able to put AWSXRay.captureHTTPsGlobal(require('http')) outside your handler, but using the http client will have to be in the function handler code.

https://docs.aws.amazon.com/lambda/latest/dg/downstream-tracing.html

With captureHTTPsGlobal, the http library itself is patched to capture on every h

[2019-07-01 00:39] akleiber commented on #60
@awssandra any update on the async problem with not sending the segment?
I tried to workaround with sending an extra segment "workaround" but I failed. The only way the last segment is sent, is if the lambda if the same container is called again.

:-( x-ray is amazing but is not useable this way in production environments

[2019-07-01 16:35] ghingis commented on #110
I had the same issue, but I'm testing with `jest`.
For the workaround I just mocked the `captureAsyncFunc`.
[code]
Maybe with `chai-spies` you could do something similar.

[2019-07-07 21:36] timtrinidad opened #148 "AWS Lambda with Single Subsegment Not Sent"
Lambdas automatically come with a root segment that can be captured with

[code]

If you add a single subsegment to that root subsegment (and any number of sub-subsegments to that subsegment), nothing gets sent to Xray.

For example:
* Root Segment (automatically created)
  * subseg Subsegment
    * sleep Subsegment
    * sleep Subsegment
    * sleep Subsegment

I think this is due to [the code in

[2019-07-09 17:15] heitorlessa commented on #103
Glad I found this issue here but does your X-Ray tracing work despite the warnings?

I'm trying to run in Lambda with Webpack (typescript->JS) and while I see the same warnings it actually returns an error when I tried to execute:

[code]

Usage:

[code]

[2019-07-09 18:03] heitorlessa commented on #23
I'm using Typescript and Webpack - here's how I'm instrumenting with the thin dynamoDB client, if that's helpful:

[code]

[2019-07-09 18:04] heitorlessa commented on #103
Nvm, managed to get it working now regardless of this warning, answer here in case anyone finds themselves in the same situation in the future:

[code]

[2019-07-10 16:21] yvele commented on #110
Same problem here, I'm also using a jest mockup like that:

[code]

[2019-07-10 19:42] awssandra commented on #148
Hi timtrinidad,

Sorry for the issues, let me help clear up some confusion.

While this is technically true, the SDK is configured to automatically create a facade segment when the it [detects it's running in Lambda](https://github.com/aws/aws-xray-sdk-node/blob/5bb00a4107510cd2a830706e5c470daf003aca5a/packages/core/lib/aws-xray.js#L361). The Lambda segment as seen on the X-Ray console is created

[2019-07-11 09:49] shinglyu opened #149 "Feature request: capture needle HTTP client"
The needle HTTP client [0] is very popular in Node.js world. It has ~4M weekly downloads. Currently, the SDK only captures outgoing HTTP requests using the built-in `http` library. It would be great to support needle as well.

[0]: https://www.npmjs.com/package/needle

[2019-07-12 15:55] timtrinidad commented on #148
Sandra,

Thanks for the info! Unfortunately, we're using async/await/promises we we're on manual mode and therefore `getSegment()` won't work. With the second method, we noticed that the separate document sometimes ends up above the `AWS::Lambda::Function`, making the trace in the console more difficult to parse.

Is this actually the case? When I enable debugging logs, I see that the Segment is s

[2019-07-12 16:19] awssandra commented on #148
Hi timtrinidad,

Promises are supported via the X-Ray SDK out of box, and async/await structures are supported via the experimental branch.

As mentioned before, [manual mode is disabled on Lambda](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/env/aws_lambda.js#L23) so I am curious as to how you are using the constructs to achieve that effect. The segment resolution logic

[2019-07-15 14:37] adeelejaz-plt opened #150 "Lodash Dependency Vulnerability"
Versions of lodash lower than 4.17.11 have a security vulnerability (https://tools.cisco.com/security/center/viewAlert.x?alertId=59546).

AWS SDK have done a release with the fix, so we should do an upgrade to latest version of AWS SDK and bump the lodash to latest patched version.

[2019-07-16 08:58] gvatreya commented on #9
Any Updates @awssandra ? Is there a plan for this?

[2019-07-16 17:09] ss2305 commented on #9
@gvatreya Still on the roadmap and being prioritized against other items. PRs are welcome.

[2019-07-17 19:31] awssandra commented on #150
Hi adeelejaz-plt,

The X-Ray SDK already uses 4.17.11 of lodash, so it is not impacted directly. The AWS SDK does not pull this in either. It appears a few of our developer dependencies may be pulling in the lower version though. We are auditing the remaining packages.

[2019-07-18 09:00] Amirh24 opened #154 "Support for Node ^v12"
Do you plan to support later versions of node in the future (^v10)?
We are using your sdk but it limits us to node < v10 and under which makes us not able to use libraries that are only compatible with the recent versions.

Thanks

[2019-07-19 02:25] awssandra commented on #150
Hi adeelejaz-plt,

Just to confirm, only one of our development dependencies is affected. We are releasing a fix ASAP.

[2019-07-19 06:22] woodsae commented on #14
I would really like to see this done as well.

[2019-07-19 14:26] timtrinidad commented on #148
As per your recommendation, we gave the experimental branch with automatic mode a try, and it works well. Thank you!

[2019-07-19 14:26] #148 closed

[2019-07-19 14:36] awssandra commented on #154
Hi Amirh24,

We [support Node 12.x](https://github.com/aws/aws-xray-sdk-node#installing) and will continue to support newer versions.

[2019-07-20 12:55] Amirh24 commented on #154
Hi Sandra, thanks for your replay.

Per you github page:
"The AWS X-Ray SDK for Node.js is compatible with Node.js version 4 and later. The AWS X-Ray SDK for Node.js has been tested with versions 4.x through 12.x of Node.js. There may be issues when running on versions of Node.js newer than 12.x."

Would you say that it is safe to use the AWS X-RAY SDK that is compatible with Node12.x on an app in

[2019-07-20 17:41] awssandra commented on #154
Yes, there should be no issues with Node12. The comment "There may be issues when running on versions of Node.js newer than 12.x" merely means, as new Node releases come out, we do not guarantee compatibility from day 1, or with pre-release versions, as there may be breaking changes in compatibility. As a part of our continuous integration tests, we have them configured to automatically run per ea

[2019-07-22 23:29] yogiraj07 commented on #150
Hi @adeelejaz-plt,
Release V2.3.4 contains this fix.

Thanks,
Yogi

[2019-07-22 23:29] #150 closed

[2019-07-23 17:20] yogiraj07 opened #157 "Node SDK release V3.0.0"
Hello,
This issue tracks next major version release changes : `V3.0.0`

## 1) Using `cls-hooked` library for trace context
Currently, `master` branch uses `continuation-local-storage` library for thread local storage. `cls-hooked` library is used as thread local storage for async operations in the `expermental-hooks` [branch](https://github.com/aws/aws-xray-sdk-node/blob/experimental-hooks/package

[2019-07-26 00:22] Mangosteen-Yang opened #158 "express cannot get segment in sub file"
Everything works well in app.js alone
However, If I call

api/company.js
[code]
In a sub file (route redirected file) between openSegment() and closeSegment() I will get segment not found error.

app.js
[code]

I assume segment should always available between open and close, right?

[2019-07-26 00:43] Imran99 commented on #143
Hi Guys,

I'm having the same issue but I noticed we have closed this one and #701 is only a partial fix.

This works in node 8.10 but not node 10.x. The exact same code for node 10.x is giving me `Error: Missing AWS Lambda trace data for X-Ray. Expected _X_AMZN_TRACE_ID to be set.`

Im using the captureHTTPglobal code [from the docs](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-nodej

[2019-07-26 17:15] awssandra commented on #158
Hi Mangosteen-Yang,

It should be, but it needs to be on the request codepath. You'll have to use AWSXRay.getSegment() in the scope of the actual routing function(s), not in the module scope.

[2019-07-29 00:09] Mangosteen-Yang commented on #158
@awssandra Thanks for your reply.
I don't understand well. Can you tell me more detail about how to use AWSXRay.getSegment() in my compnay.js file?
I need to track subsegment in this file.

[2019-07-29 16:48] awssandra commented on #158
Hi Mangosteen-Yang,

Segments are created dynamically when a request is processed by the Express middleware. Thus, you can only use AWSXRay.getSegment() within the request path (as the segment is in scope). You cannot track this at the file level.

You'll have to add AWSXRay.getSegment() into the company.companyGetAllDetail function.

[2019-07-30 00:22] Mangosteen-Yang commented on #158
@awssandra Thanks. I got it.
It works but really annoying especially when my function is deep(comparing with app.js). I have to pass segment to many levels down.

[2019-07-30 11:01] TLaue opened #159 "XRay combined with SNS: Failed to get the current sub/segment when writing unit tests"
Hello,
I am using the following code to publish SNS messages integrated with AWS XRay sdk.
`"use strict";
const AWSXray = require("aws-xray-sdk");
const AWS = require("aws-sdk");
...

AWS.config.update({ region: "eu-central-1" });

const publishMessageToTopic = async (message, topicArn) => {
  log.debug(`Message send to topic...`, { message, topicArn });

  const sns = AWSXray.captureAWSClient(new

[2019-07-30 13:26] chaitanya11 commented on #85
Is there a wait to await or have callback in segment/subsegment close function?

[2019-07-31 15:34] awssandra commented on #158
Hi Mangosteen-Yang,

If you're running in automatic mode, you can simply use AWSXRay.getSegment() anywhere you need it - you don't need to pass the segment returned around. If you are in manual mode, it will be on the request object.

See example code here:

https://github.com/aws/aws-xray-sdk-node/tree/master/packages/core#automatic-mode-examples
https://github.com/aws/aws-xray-sdk-node/tree/mast

[2019-08-01 00:54] Mangosteen-Yang commented on #158
@awssandra Thanks. I created a clean environment with my example file, which works well.
The problem with my production code is it seems there an error to use this package after passport middleware.

I will find more details.

[2019-08-01 05:18] Mangosteen-Yang commented on #158
I figured it out.

If you are using passport with BearerStrategy as middleware. The example code

[code]

will cause segment not found in the router.

My solution is to rewrite the code with promise way like:

[code]

I did not dig deep to find the reason. If anyone can find the reason I will be appreciated.

[2019-08-01 06:22] chaitanya11 opened #160 "Why segment close function is not having any callback or promise or event."
How to identify whether segment got closed successfully (including send UDP data to X Ray Daemon) ?
Lambda Function will be terminated after returning response, so if we are closing one segment before sending response, UDP data is not getting sent to X Ray Daemon.
Does any one have any inputs on this problem?

[2019-08-01 20:17] chanchiem commented on #85
Can you give us an example snippet of this? It would help us further investigate.

[2019-08-01 20:31] #85 closed

[2019-08-01 21:01] awssandra commented on #159
Hi Thomas,

Is this only an issue in the unit tests? Or, is this impacting running in production as well? What version of the SDK are you using? Are you running on any AWS hosts - Lambda, Beanstalk, EC2? The await syntax has some known issues with the current implementation of CLS, we recommend trying the experimental branch to help with async/await construct problems.

Thanks!

[2019-08-12 17:27] awssandra commented on #160
Hi chaitnya11,

You can enable debug mode in your Lambda by using environment variables. That will show you when the segment/subsegments are successfully sent.

https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/README.md#environment-variables

Hope this helps!
Sandra

[2019-08-12 17:54] awssandra opened #161 "HTTPsCaptureGlobal captures sampling API calls from X-Ray SDK"
### Problem:
Currently, when using the captureHTTPsGlobal function, this patches every instance of the http built-in library. This means that the AWS SDK proxied calls the X-Ray SDK makes to getSamplingRules and getSamplingTargets are attempting to be traced.

Because there is no context to resolve the segment, this fails, however, this creates the log entries as follows:

INFO - Options for reque

[2019-08-13 07:51] chaitanya11 commented on #160
Hi @awssandra ,
thanks for taking time and replying.
i was able to see logs of xray sdk where segment/subsegment is sent.
Problem i am facing is lambda will stop executing after response is sent out, we have segment/subsegment close as async function which may not complete it's execution.
I check code in sdk, i didn't find any callback or promise for close function.

[2019-08-13 12:13] jeanmatthieud opened #162 "NodeJs HTTP request: limited captured data"
Having the ability to capture HTTP(s) outgoing request is great, but the current implementation is quite limited for debugging.

It could be great to have at least HTTP headers (req / resp) included in the captured data.

[2019-08-13 17:51] awssandra commented on #160
Hi chaitanya11,

Would you mind posting a code snippet to reproduce the issue? I cannot quite visualize the flow from the description.

[2019-08-14 09:35] chaitanya11 commented on #160
Hi @awssandra ,

I am attaching typescript version of code bellow

[code]

Here is the compiled js code from the above typescript code.

[code]

when executing rootsegment.close() how would we identify whether segment data is sent to xray or not?

[2019-08-14 13:15] phstc commented on #23
Hi @heitorlessa

Thanks for sharing how you are instrumenting DDB. It worked with `DocumentClient`, but when I try to use it with the lambda and S3 clients, I get:

[code]

Have you tried to use `captureAWSClient` with other clients other than `DocumentClient`?

[2019-08-14 19:20] awssandra commented on #162
Hi jeanmatthieud,

The concern here is that most of the headers would be considered non-actionable data, and would eat up a lot of segment data space. So it'd be not too useful to record all headers on every request automatically. But, I do think there is a larger story here on having a patch "configurer" to include extra data fields (sort of similar to the way we handle whitelisting AWS SDK field

[2019-08-15 14:48] TLaue commented on #159
Hi,
I am using version 2.510.0 of the AWS SDK running on AWS Lambda with node.js runtime. I have tried the experimental version of the aws-xray-sdk but without any success. The error message stays the same. I am not using the XRay SDK in production so far as it will not pass our tests due to the above mentioned error. I have seen the same problem happening with DynamoDB Client (https://stackoverfl

[2019-08-15 14:53] grahamhar opened #163 "Logging issue"
I've followed the discussion in https://github.com/aws/aws-xray-sdk-node/issues/2 and tried to set my own logger at a level of error to stop receiving the following logs without any success.

`
AWS_XRAY_DAEMON_ADDRESS is set. Configured daemon address to 169.254.79.2:2000.
AWS_XRAY_CONTEXT_MISSING is set. Configured context missing strategy to LOG_ERROR.
Subsegment streaming threshold set to: 0
`

[2019-08-16 00:15] willarmiros commented on #159
Hi Thomas,
Have you enabled AWS X-Ray active tracing on your Lambda function? It can be found in the debugging and error handling section of the Lambda's configuration.

[2019-08-16 16:50] awssandra commented on #159
Hi TLaue,

We haven't heard of any reported issues with any other client. The Dynamo Document Client is the only unique outlier we've had reported. We'll be diving into this shortly.

[2019-08-16 17:16] awssandra commented on #163
Hi grahamhar,

So the issue here is that the SDK initializes before loading the custom logger defined, thus the initialization INFO level logs are not routed to the custom logger (and thus are not filtered by log level). We'll need to configure some suppression mechanism (like a suppress logs env variable) or option to configure the logger when initializing.

[2019-08-16 17:23] grahamhar commented on #163
Hi @awssandra,

I’m happy to do a PR for this so you have any thoughts on the name for the variable?

[2019-08-17 00:43] timtrinidad opened #164 "Lambda with Kinesis Trigger Receives Repeat Trace IDs"
I'm having trouble debugging one of my lambda functions that is triggered by Kinesis Streams. When I turn on `AWS_XRAY_DEBUG_MODE`, I see the following messages:

[code]

You'll see that different invocations at different times have the same trace ID. How do I make sure that each invocation has a different trace ID?

[2019-08-18 14:58] TLaue commented on #159
@willarmiros I have not tested the SNS client combined with XRay on lambda directly as the integration failed when running the code locally against during an integration test using Mocha. XRay tracing is active for all our functons.

@awssandra I have seen the same error when working with the SQS client and XRay but I do not know if this integration is even officially supported.

[2019-08-19 07:35] grahamhar commented on #163
Also would it be viable to start the built in logger at ERROR rather using the default of INFO?

https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/logger.js#L17

[2019-08-20 07:34] jeanmatthieud commented on #162
Thanks for your answer.
I like the idea of beeing able to choose which field to record. Like a function called for every request (with req/res as parameters) which will return additional data to record (as a map).

[2019-08-21 23:45] willarmiros commented on #159
Hi Thomas,
If you are running tests locally the X-Ray client will not automatically create a segment for the SNS call like it would in a lambda environment. You must set up the context and create the segment manually, as I've done in the sample code below. This won't be necessary once you transition to Lambda.

[code]

[2019-08-22 12:19] okonon commented on #60
Also interested in the update regarding this issue

[2019-08-23 21:11] willarmiros commented on #164
Hello,
We're happy to take a look at this, but we'll need some clarification. Can we see a screenshot what this trace looks like? The X-Ray SDK does not currently support instrumentation of Kinesis Streams, but have you instrumented the Kinesis Streams with X-Ray in any sort of custom fashion? Have you enabled X-Ray active tracing on the Lambda dashboard? What runtime is your function using?

Than

[2019-08-23 23:26] timtrinidad commented on #164
To clarify - this is instrumentation of a lambda function, not of the kinesis stream itself.

Here's a screenshot of the trace. As you can see, the trace goes on for 8+ minutes even though lambda has a max runtime of 5mins. Let me know if this is a ticket that should be filed with the lambda or kinesis streams teams.

![screencapture-console-aws-amazon-xray-home-2019-08-23-16_24_02](https://user-i

[2019-08-26 05:24] perpetualchaos opened #166 "update lodash in the core package to 4.17.12"
A security vulnerability was discovered in <4.17.12 of lodash that was fixed in 4.17.12.

Details of the report:
https://app.snyk.io/vuln/SNYK-JS-LODASH-450202

Details of the fix:
https://github.com/lodash/lodash/issues/4348

[2019-08-26 13:15] hotgazpacho commented on #143
By any chance, are you enabling http keep-alives for the AWS SDK, per https://theburningmonk.com/2019/02/lambda-optimization-tip-enable-http-keep-alive/

We're doing this in a single file that we include for every handler, and we see this issue on cold starts.

[2019-08-27 03:49] Imran99 commented on #143
@hotgazpacho yup we are, so I guess thats partly the issue but for some reason it did not cause a problem on node 8.

[2019-08-28 04:28] Imran99 commented on #143
Thanks @hotgazpacho we have two internal npm packages that do it in this order:

normal aws sdk tracing package:
- require('aws-xray-sdk-core')
- require('aws-sdk')
- require('https')
- https.agent setup

and another http client with tracing package that does:
- require('aws-xray-sdk-core')
- require('http')
- AWSXRay.captureHTTPsGlobal

[2019-08-28 20:35] grahamhar commented on #163
@awssandra I've raised #172 in an attempt to provide a work around to these log messages without changing current functionality.

[2019-08-29 21:58] willarmiros commented on #164
Thanks for the information. We're looking into this and will follow up again once we know more about your issue.

[2019-08-30 18:19] chanchiem commented on #160
Hey,

We are working internally to get this tested and to find the root cause. Thank you very much for the code snippet. We'll ask for further information if we need it. Please stay tuned.

Thanks

[2019-09-03 06:09] MahmoudMH commented on #125
Same Error here, Even I run this code `npm install --save aws-xray-sdk@experimental`

The problem hasn't resolved, this is what I got after running the above command
"aws-xray-sdk": "^2.3.5-experimental.1".

Any help?

[2019-09-03 21:24] willarmiros commented on #164
Thank you for your patience. You are correct that this is not the expected behavior when invoking an instrumented Lambda function. We are actively working with the Lambda team to investigate this issue, and will post any updates to this thread.

[2019-09-03 23:42] chanchiem commented on #160
Hi,

I have made a slight modification to your code so that it prints logs and shows the order in which the methods are executed. This is the resulting code I added (I added a few logging statements and added the call to `abcd`):
[code]

The resulting log I get is:
[code]

Just so that I understand the issue a little more, is the expectation here to add an async `segment.close()` method that retur

[2019-09-04 02:27] cheesiangcs opened #175 "AWS_XRAY_CONTEXT_MISSING is set. Configured context missing strategy to LOG_ERROR"
I realised that there are few lines of X-Ray message printed in my Cloudwatch log after newly released for "aws-xray-sdk-node" a few days ago.

May I understand is there any configuration error at my end that caused these X-Ray message showing up? or should I ignore this message?

[code]

![CloudWatch_Management_Console-2](https://user-images.githubusercontent.com/35026330/64221212-9f3b7600-cefe-1

[2019-09-04 17:01] #163 closed

[2019-09-06 11:27] hotgazpacho commented on #143
So, I initialize thusly:

[code]

Where I'm seeing this error is during cold starts of my Lambda function, wherein I use `SecretsManager` outside of the handler in the global scope to get the secrets config once and keep it around for the lifetime of the function instance. This global initialization is a pretty common scenario in Lambda.

[2019-09-06 17:10] willarmiros commented on #164
@timtrinidad could you email the following information to armiros@amazon.com:
1. Your function ARN
2. Your stream ARN
3. Your event source mapping UUID (retrieved by calling getEventSourceMapping)
4. Request ids WITH timestamps (request ids without timestamps seldom have use)
5. A snippet of your Lambda code to reproduce the issue

[2019-09-06 17:44] willarmiros commented on #125
@MahmoudMH could you give some more details about your problem? What environment are you running your application from - locally, lambda, etc? And Can I have some sample code to reproduce your error?

[2019-09-07 01:11] willarmiros commented on #175
Hi @cheesiangcs,
Thanks for bringing this to our attention. It has been addressed in release 2.3.6. Once you have updated to that version, debug messages should only be logged if you have the AWS_XRAY_DEBUG_MODE environment variable set.

[2019-09-07 01:11] #175 closed

[2019-09-09 12:59] chaitanya11 commented on #160
With the problem i am facing i created a small serverless project. i am adding that zip here. Please have a look at it @chanchiem
[code.zip](https://github.com/aws/aws-xray-sdk-node/files/3590577/code.zip)

[2019-09-09 18:54] timtrinidad commented on #164
Recent traces appear to be split out properly - not sure if the Kinesis team release a fix recently. I'll close this out for now and reopen if I see the issue pop up again.

[2019-09-09 18:54] #164 closed

[2019-09-11 00:11] Gerst20051 commented on #110
I decided to keep X-Ray disabled for unit tests. Like this:

[code]

[2019-09-12 17:35] onionhammer opened #183 "Exception after upgrading to latest aws-xray-sdk-core (2.3.6)"
"aws-xray-sdk-core": "^2.3.6",

Looks like a null reference exception deep in the stack

![image](https://user-images.githubusercontent.com/969938/64806905-c0810f80-d559-11e9-9381-550cb67ec7b3.png)

[2019-09-12 21:08] hauboldj opened #184 "S3.upload is not traced."
I'm capturing the S3 client as documented.
[code]
However the managed upload call S3.upload is not traced.
Other S3 api calls are traced as expected but there is no information for S3.upload. At minimum I expected to see the individual api calls for the managed s3 multipart upload to be traced.

[2019-09-13 16:44] wparad commented on #154
As far as I can tell, this isn't an appropriate response to the question. Let me know if I'm mistaken. We suggest that we want to support node 12, which likely means that the client code is using `async/await`.

Does this library support async code being executed inside the `ns.run` block?

[2019-09-13 18:29] awssandra commented on #154
Hi wparad,

Can you clarify what you mean? As for async/await structures, those are supported via the experimental branch, which we will be integrating into our 3.0 major version as per our [pinned issue](https://github.com/aws/aws-xray-sdk-node/issues/157). More info on [our experimental branch](https://github.com/aws/aws-xray-sdk-node/issues/60).

As per the above discussions, the decision to ke

[2019-09-13 21:49] willarmiros commented on #184
I understand what you were saying now, sorry for not picking it up earlier. We will open a ticket with the S3 team to discuss this issue and decide how best to move forward. Thanks for bringing this up.

[2019-09-13 22:09] willarmiros commented on #183
Hmm, the only change that was made in the 2.3.6 patch was this [bug fix](https://github.com/aws/aws-xray-sdk-node/commit/42e4aa8ce89418e7dff5beef323c900760a103df) related to logging in Lambda environments.

I'm still happy to take a look at a code snippet if you're still having issues.

[2019-09-13 23:22] onionhammer commented on #183
@willarmiros Or we could just fix the null reference exception and throw a more helpful error

https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/context_utils.js#L89

[code]

[2019-09-14 00:12] willarmiros commented on #183
We are always open to PRs to better inform our customers of the errors they are experiencing. If you make one, please make it against the `2.x` [branch](https://github.com/aws/aws-xray-sdk-node/tree/2.x), as that is where we are making releases until the next major version is released.

[2019-09-14 09:47] wparad commented on #154
It wasn't clear what needed to be done by a developer to actually get this working. Perhaps it would help if some light was cast on the following issues. I found it difficult to get them to work:

* Directly adding annotations to the current lambda segment, does not show in the xray console.
* `AWSXray.getSegment().addNewSubsegment('new-segment')` does not show up in the xray console attached to t

[2019-09-14 11:23] wparad commented on #8
@kopertop,
It's possible that the information was just delayed to be sent to XRay from Lambda. I've noticed the XRay event emitter is running in the background on lambda, and so sometimes it takes 1 or 2 more calls to the lambda function, have it spin up before the previous execution's data actually is sent there.

[2019-09-16 21:08] joshuawinsor opened #186 "package is un-necessarily large"
aws-xray-sdk@2.3.6 when installed from NPM makes the simplest lambda function 9 megs, this means that it can not be edited in the lambda console.
low hanging fruit to fix this is to remove lodash (while it appears that an effort has been made to that effect, it is still a dependency when installed via npm as of version 2.3.6), and to make AWS-SDK a devDependency or peerDependency as it is already

[2019-09-18 18:18] chanchiem commented on #160
I have tested your example code and it still has the same results as mentioned in the previous post. It looks like the issue is related to the fact that the Async method gets finished executing after the interpreter has reached EOF.

The suggestion that I have is to have a blocking mechanism in your application code so that the call to `rootSegment.close()` is deterministic. The problem with using

[2019-09-18 21:44] parisholley commented on #157
just want to drop my two cents in case it wasn't considered.

for performance (and architectural reasons), I prefer to rely on manual segmentation vs having it automatically wired up. activating hooks and other "magic" will increase CPU time (latency), so I  want to ensure that all the magic can be opted-out :)

even in the case of AWS SDK, I actually prefer to either
a) segment around my service

[2019-09-19 06:10] chaitanya11 commented on #160
@chanchiem i am adding lambda logs for the above attached code bellow

[code]

Close segment is called before resolving response, i was able to verify is by ```rootXRaySegment.isClosed()``` method from sdk. So ```rootXRaySegment.close()``` is not happening after the Lambda function has finished serving the invocation.

[2019-09-19 17:46] willarmiros commented on #158
Although I would likely need more information to find the root cause, it's possible segment not found was being thrown because of the middleware using a different thread and causing issues with the context and/or `cls`. I'll close this for now, but please reopen if you have more questions!

[2019-09-19 17:46] #158 closed

[2019-09-20 17:44] gdw2 opened #189 "Subsegments with the wrong parent id"
Using: 2.3.6-experimental.1

I'm running an async-heavy lambda.  Frequently subsegments are assigned to the wrong parent.  The screenshot below shows an example.  I will continue investigating.  I understand that it would be ideal if I could provide a reproducible example.  That might be tricky.  If there's any other useful information I can provide, let me know.

I understand that this is kind of

[2019-09-20 18:25] willarmiros commented on #189
Hi @gdw2,
`async` functions in Lambda has caused some bugs in the past with X-Ray. Although your specific use case is unknown, one thing that can happen is Lambda can drop subsegments if execution reaches the end of the handler and there are still functions in process, Lambda will allow them to resolve but terminate immediately after, interfering with or dropping subsegments that were still open a

[2019-09-22 15:55] hotgazpacho commented on #186
Totally agree! `aws-sdk` is natively available in a Lambda environment, so `aws-sdk` should be a `peerDependency`, not a `dependency`

[2019-09-23 18:56] willarmiros commented on #186
Thank you for both your valid points and the PR you submitted for this issue. The X-Ray SDK is meant to be used in any environment, so even though the AWS SDK is available in Lambda it may not be for other use cases. That being said there are active discussions for removing `aws-sdk` as a dependency and we will update you all soon on that.

The removal of Lodash as a dependency has been merged int

[2019-09-23 20:11] willarmiros opened #192 "Create all new PRs against the 2.x Branch, not master"
Until the release of major version 3.0.0, pull requests on this package will not be approved unless they are made against the `2.x` [branch](https://github.com/aws/aws-xray-sdk-node/tree/2.x) instead of `master`. Some changes were merged into the `master` branch that caused incompatibility with node 4 and 6, which are still supported in 2.x versions of the SDK.  Those changes were rolled back in t

[2019-09-24 19:28] chanchiem opened #196 "Indicate/Sanitize Invalid Entity Names"
When customers input an invalid name to a segment or subsegment, the SDK does not validate for correctness and will stream it out to the Daemon. The Daemon, in turn, will unsuccessfully send the resulting entity and log the error.

This is an unfavorable customer experience because although their application had executed with no errors, they will not see the problematic entity in their trace. Furt

[2019-09-27 18:14] willarmiros commented on #160
Hi @chaitanya11,
If `rootXRaySegment` is being closed before the termination of your Lambda and when you call the function to close it, then what is the lingering issue? It appears your original question of whether a segment is closed or not before Lambda's termination has been answered.

[2019-09-27 18:22] hauboldj commented on #110
It would be fantastic if the xray sdk had a global option for disabling during unit testing.

[2019-09-29 05:30] chaitanya11 commented on #160
@willarmiros after segment is closed, segment data will be sent to XRay daemon as UDP traffic. If that happens, it will appear in logs. But in this case Lambda is getting terminated before sending UDP traffic. That's what the problem here. If you have time please check the code snippet i have attached and get back.

[2019-09-30 18:37] willarmiros commented on #160
I did notice in your code package that you have several functions to create and close the root segment of your lambda function. Those operations are not supported because Lambda generates and closes its own *immutable* segment automatically if X-Ray active tracing is enabled. Only subsegments are allowed to be created, modified, and closed by the handler code. See [these docs](https://docs.aws.ama

[2019-09-30 19:55] manchuck commented on #110
Because of this issue I gave up on using XRay. All our services are following CI/CD and if I can't test them, they can't deploy.  I hope that this issue can get resolved.

[2019-09-30 20:43] willarmiros commented on #110
Hi @manchuck,
Sorry for the delayed response, and I apologize for the frustration you're experiencing. While it does not strictly disable X-Ray, you may prevent the errors you are receiving from failing your unit tests using the `ContextMissingStrategy`. This can be done by setting the `AWS_XRAY_CONTEXT_MISSING` environment variable to `LOG_ERROR`. This emits a warning to the logs when the SDK enc

[2019-10-03 22:53] willarmiros commented on #136
Closing since it was fixed in PR.

[2019-10-03 22:53] #136 closed

[2019-10-03 22:59] willarmiros commented on #154
Feel free to reopen if you have further questions about the usage of the SDK.

[2019-10-03 22:59] #154 closed

[2019-10-09 18:01] Shahab96 commented on #143
Are there any updates on this issue? We are experiencing this as well and with Node 8 being EoL at year end this would become a problem

[2019-10-09 19:12] willarmiros commented on #143
We are actively looking into this issue and discussing it with the Lambda team. Unfortunately they are quite busy and this change would be a fairly substantial refactor for them. In the meantime, we recommend either using the non-global HTTP capture solution.

If Lambda is unable to complete the change, we will consider adding some kind of string matching to not trace these requests in the SDK. Th

[2019-10-11 02:11] kevin-miles commented on #141
Not a solution, but as a workaround to the issue I have been placing logic within a try/catch block and bubbling the errors up to it.
Inside the catch you can add a subsegment.
In the subsegment, run a `subsegment.addError(err)`

https://docs.aws.amazon.com/xray-sdk-for-nodejs/latest/reference/Subsegment.html

Then when you observe Xray traces you can see quick error output/a nice red error icon n

[2019-10-11 05:47] SamVerschueren commented on #141
@awssandra The error is not in the raw data

[code]

@kevin-miles I'm going to look into that! Thanks for the tip.

[2019-10-11 06:23] SamVerschueren commented on #141
I wanted to see what I can do with the `addError`. It seems I can't use `AWSXRay.getSegment().addError()`. Not sure why though, but I had to make a sub segment.

[code]

This attaches the `hello world` error to the segment, but as a sub segment

![image](https://user-images.githubusercontent.com/1913805/66628685-d2f57400-ebff-11e9-9d8c-2c17093abb1b.png)

Can't I just add it to my `Invocation` or t

[2019-10-11 06:48] SamVerschueren commented on #141
I think I was wrong regarding the `uncaughtException`. That handler is actually never executed. Probably because Lambda catches the errors in the background automatically which makes that errors or always caught.

[2019-10-16 16:18] moransk8 commented on #23
Hi @phstc
I got the same error instrumenting the Lambda, and I resolved by doing this:
[code]
That's because the class Lambda extends an aws Service.

[2019-10-17 09:47] chaitanya11 commented on #160
Thanks for the response @willarmiros , code is working fine after moving to subsegments to immutable segment from lambda.
Closing this issue.

[2019-10-17 09:47] #160 closed

[2019-10-21 19:08] willarmiros commented on #23
Hi @phstc,
I hope your issue has been resolved by the follow up. If it hasn't please open a new issue to avoid too much clutter on this one, and we will prioritize following up further. Please note that the X-Ray SDK for node.js does not support typescript at the moment and using typescript notation with our APIs can cause issues.

[2019-10-21 21:09] alfaproject commented on #23
I'm not sure why this has been closed. It's still not possible to patch a DynamoDB Client class directly.

@willarmiros can you reopen, please?

[2019-10-21 22:27] willarmiros commented on #23
Sure. This issue was just getting some clutter but the bug does still exist. Unfortunately this and #184 are reliant on the AWS SDK team to unify their client classes. Reopening to continue to track that progress.

[2019-10-21 22:50] willarmiros commented on #141
Hi @SamVerschueren,
You cannot use `addError()` on the segment in a Lambda function because the segment created by the Lambda service is immutable by customer code. That and the `initialization`, `invocation`, and `overhead` subsegments are only used internally and will perform no-ops on all methods applied to them. Creating and operating with custom subsegments is the correct approach.

Either su

[2019-10-22 23:59] tqhoughton commented on #143
So basically we have to choose between being able to update Lambda functions or being able to use X-Ray.

I think it's obvious what most organizations are going to choose. Can you ask the Lambda team if they can extend the deadline to upgrade Lambda functions to Node 10.x until this is resolved?

[2019-10-23 17:26] manchuck commented on #110
@willarmiros I will close the issue once the documentation has been updated.

[2019-10-23 19:17] willarmiros commented on #143
Lambda has told us a potential solution is underway. I will update this thread once it is released. If the solution does not work, our team will add the filtering logic to ignore these internal calls before Node 8 EOL is reached.

[2019-10-24 22:27] willarmiros commented on #110
Hi @manchuck,
You can view the updated documentation [here](https://github.com/aws/aws-xray-sdk-node/tree/master/packages/core#context-missing-strategy-configuration). Hope this resolves your issue!

[2019-10-25 21:33] willarmiros commented on #189
I'm going to close this, but feel free to follow up if you still have questions.

[2019-10-25 21:33] #189 closed

[2019-10-25 21:50] willarmiros commented on #149
It is not currently on our roadmap to instrument 3rd party HTTP clients. However, since `needle` uses the native http(s) libraries under the hood, you can still capture requests using `AWSXRay.captureHTTPsGlobal()`. Read more about the global capturer [here](https://docs.aws.amazon.com/xray-sdk-for-nodejs/latest/reference/module-http_p.html#.captureHTTPsGlobal) and you can find sample code [here](

[2019-10-25 22:24] willarmiros commented on #186
Closing since this is a duplicate of #113

[2019-10-25 22:24] #186 closed

[2019-10-26 00:29] jplock commented on #113
When can a release be made that moves the `aws-sdk` dependency to a peerDependency?

[2019-10-28 17:29] willarmiros commented on #113
Hi @jplock,

I explained in #187 why making `aws-sdk` a peer dependency is not a trivial matter. We would like to create a separate module for centralized sampling, which consumes `aws-sdk`, so it does not need to be imported by default. However, the way the package is currently designed makes sampling logic tightly coupled with many other parts of the X-Ray SDK, so making such a separate module i

[2019-10-28 20:31] willarmiros commented on #161
Commenting to prevent closure.

[2019-10-30 22:25] esilkensen commented on #14
Hi everyone, I've just opened #207  🙂

[2019-10-31 01:53] willarmiros commented on #157
The 3.0.0 release process will be done in phases. First, we will release a 3.0.0-alpha version of the SDK that includes the deprecation of node 4 and 6, mainlining the use of `cls-hooked`, and removing winston. This is being done to give our customers the new features of 3.x as soon as possible. We will also release the separation of the `aws-sdk` dependency as a breaking change in 3.1.0-alpha. Th

[2019-10-31 18:33] manchuck commented on #110
@willarmiros Ahh so good.  Closing this issue

[2019-10-31 18:33] #110 closed

[2019-11-04 18:49] willarmiros commented on #192
Closing since no more PRs against `2.x` will be taken. All PRs should now once again be made against `master` and will be included in a 3.x version of the SDK.

[2019-11-04 18:49] #192 closed

[2019-11-05 10:15] rogueai opened #208 "SQS Tracing with AWSTraceHeader"
Hi,

I have an SQS queue subscribed to an SNS topic and in turns triggers a Lambda on new SQS messages.

I've tried following the docs here: https://docs.aws.amazon.com/xray/latest/devguide/xray-services-sqs.html to create segments related to SQS, but so far everything I tried didn't work.
I've added a segment this way:
[code]
What this produces though is something like this:
<img width="1009" alt

[2019-11-05 19:42] willarmiros commented on #208
Hi @rogueai,
This is a known issue with propagating trace context through an SQS queue. It is not currently possible to connect a trace passed into an SQS queue to the Lambda consuming it on the other end. This is because although the trace header is propagated in the SQS message, you cannot set it in the Lambda because segments in Lambda are immutable.

Enabling this functionality is a feature th

[2019-11-08 13:10] dsharkov commented on #208
Do you have any approximate date for release this feature?
We are also need this functionality (in my case sqs trigger lambda only).

[2019-11-08 17:57] willarmiros commented on #208
Unfortunately we cannot provide dates for upcoming features. However this feedback is appreciated so we and the other teams involved in the change can prioritize the feature. Stay tuned for updates!

[2019-11-10 13:54] vladgolubev commented on #23
FYI, I've created npm package which encapsulates the workaround described in the comments: https://github.com/shelfio/aws-ddb-with-xray

[2019-11-11 10:04] AlexRomashevski commented on #208
Hi @willarmiros,

Also, vote to move this feature on the top for your team backlog. Our team also waiting for this improvement to have a clear map on X-Ray. I hope it will not take to much to move it on live.

Thank you!

[2019-11-13 22:52] willarmiros commented on #14
TypeScript definitions have been released in v2.5.0!

[2019-11-13 22:52] #14 closed

[2019-11-13 22:54] willarmiros commented on #107
v2.5.0 has been released which includes `setUser()`. Unfortunately this function cannot be made available in Lambda since segments made in Lambda are immutable, and `setUser()` can only be applied to segments rather than subsegments.

Public docs for the function will be available [here](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-nodejs-segment.html) in the next couple hours.

[2019-11-13 22:54] #107 closed

[2019-11-14 02:55] willarmiros commented on #183
Closing since it was fixed in 2.4.0.

[2019-11-14 02:55] #183 closed

[2019-11-14 15:49] rpgeeganage opened #214 "Error: No sub/segment specified in `ManualMode`"
Hi Everyone,
I have the following lambda function.
[code]

When I call my lambda function via SQS, I get the below-mentioned error.
[code]

I'm currently using `v2.4.0` of `x-ray nodejs sdk`.

Can anyone help me with this?
Thanks a lot

[2019-11-14 17:55] iq-dot opened #215 "Can't get context with captureAWS"
Hi guys,

I have been having numerous issues with getting context using NodeJS + Express in elasticbeanstalk environment. I am using automatic mode.

I have fixed my express issues by re-writing the `closeSegment` middleware by storing segment in req.segment and using that to forcefully put segment back into the namespace managed by `cls`. I noticed it exists in the beginning and returns no segmen

[2019-11-14 18:22] willarmiros commented on #214
A couple of observations:
1. Why are you using manual mode? In manual mode you must pass a reference to an X-Ray segment to every request you make (see [these examples](https://github.com/aws/aws-xray-sdk-node/tree/master/packages/core#manual-mode-examples)). You can omit `xray.enableManualMode()` and the segment is passed around automatically.
2. You must call `captureHTTPsGlobal` *before* import

[2019-11-14 20:24] rpgeeganage commented on #214
Hi @willarmiros ,
thank you for the quick response.
In the event object, I'm passing a trace id and a segment id which generated in a different service. I want o to have a proper service map which reflects my workflow.
(I updated the description)

[2019-11-15 00:42] willarmiros commented on #214
Hi @rpgeeganage,
Sorry I missed this earlier, but you also should not be using `setSegment` in manual mode. As the [documentation](https://docs.aws.amazon.com/xray-sdk-for-nodejs/latest/reference/module-context_utils.html) states, it is only for use in Automatic mode.

You are getting this error because you are not passing a reference to the segment you created to `captureHTTPsGlobal`, as is requi

[2019-11-15 02:36] willarmiros commented on #215
Hi @iq-dot,
What version of the X-Ray SDK for Node are you using? And could we see a snippet of how you're using the X-Ray middleware with your express application? Why do you need to get segments out of the `cls` namespace after closing them? It is somewhat unclear exactly what your issue is from this description.

[2019-11-15 09:37] iq-dot commented on #215
Hi @willarmiros

I am using the latest SDK v2.5, I upgraded yesterday to get the setUser feature, same issue however.

Just to clarify, I am not trying to get the segment from `cls` after closing, express middleware that comes with XRay was throwing the error in the closeSegment middleware because it could not retrieve the segment with the error `Failed to get the current sub/segment from the cont

[2019-11-15 09:51] rpgeeganage commented on #214
Hi @willarmiros,
Thank you so much for the answer. I already try with automatic mode.
The main issue was, when I'm using the automatic mode, and set the error, it does not get reflected in my service map or when trying to view the flow of the trace. With manual mode, it works but I couldn't capture the HTTP calls. 😢

I was able to track the trace id propagation from my services to this lambda exec

[2019-11-15 18:12] willarmiros commented on #214
Please see #141 for information about recording errors in Lambda environments. It should work fine with automatic mode, there are just some quirks about adding them to subsegments you have to observe.

[2019-11-15 19:11] willarmiros commented on #214
To add some further clarification, that issue mostly describes how you can capture errors by adding them to subsegments. However, the X-Ray SDK will also automatically capture errors and add them to the `AWS::Lambda::Function` segment if the error is returned from your Lambda function. Note that it must be *returned*, not thrown or else the Lambda will just crash without recording it.

[2019-11-15 19:24] willarmiros commented on #215
Hi @iq-dot,
I'm not sure if this is your root cause, but each segment represents a single route in your express application. See my code below for two example routes instrumented with X-Ray.
[code]

If you define multiple routes for a single segment it can cause unexpected behavior.

[2019-11-15 20:05] iq-dot commented on #215
Hi @willarmiros

I think you maybe on to something, I perhaps misunderstood, I assumed the openSegment is at the beginning of ALL your routes and closeSegment at the end ALL routes because I saw a comment saying the closeSegment must the first error handler.

So are you saying that for EACH route we need an open and close segment? We create a router for each of our module routes files so do we nee

[2019-11-15 21:58] willarmiros commented on #215
Please see my amended comment. I was mistaken and you can have several routes for 1 segment, but there must not be any other middleware uses between your calls to `openSegment` and `closeSegment`. See my example code.

[code]

[2019-11-17 03:33] rohitchawla22 commented on #215
I am seeing similar issues in my Typescript API.
`    }
2019-11-16 22:18:34.539 -05:00 [ERROR] Error: No sub/segment specified. A sub/segment must be provided for manual mode.
    at Object.contextMissingLogError [as contextMissing] (/app/node_modules/aws-xray-sdk-core/lib/context_utils.js:26:19)
    at Object.resolveSegment (/app/node_modules/aws-xray-sdk-core/lib/context_utils.js:77:43)
    at f

[2019-11-18 10:27] iq-dot commented on #215
@willarmiros

Ok so after some testing, I can confirm that it partially fixes the first issue of my normal express routes not finding the segment (which I had hack fixed as well) however this still doesn't fix the AWS SDK throwing the segment error, any routes that use AWS SDK which is wrapped by the AWS XRAY still throws this error, almost as if it is creating it's own separate context using `cls

[2019-11-19 00:42] willarmiros commented on #215
@rohitchawla22 It appears you might have a separate issue since you're using manual mode. Have you checked to make sure you're manually passing around (sub)segment references to all your AWS requests? If not feel free to open a separate issue with more details and a code snippet.

@iq-dot I was unable to reproduce this issue in my environment. It looks fine and I used the same format for those fun

[2019-11-19 12:59] iq-dot commented on #215
@willarmiros Your right setting it just before calling does resolve the issue, however it is a bit unpractical for us with an old established codebase and quite invasive to change them. I guess we just have to not instrument for now and wait for hopefully a better solution then CLS to retrieve current segment.

[2019-11-19 14:06] kwongkz opened #217 "Having Error: connect ECONNREFUSED"
Anyone got idea why this happen? I'm using serverless lambda and with X-Ray tracing turned on

WARN	Error: connect ECONNREFUSED 169.254.79.2:2000
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1107:14)

[2019-11-19 22:59] willarmiros commented on #215
As one final suggestion, you can retrieve the namespace with `AWSXRay.getNamespace()`, start a namespace session, construct a segment, and call `AWSXRay.setSegment(segment)` from within the namespace session as a workaround described in the [custom solutions](https://github.com/aws/aws-xray-sdk-node/tree/master/packages/core#developing-custom-solutions-using-automatic-mode) section of the docs.

[2019-11-19 23:02] willarmiros commented on #217
Hi @kwongkz,
This doesn't sound like an error associated with X-Ray. Please provide a code snippet to reproduce this error as well as logs or another indication that X-Ray is causing this so I can further assist you.

[2019-11-19 23:21] willarmiros commented on #143
Lambda has released what should be a fix for this problem globally! Please follow up if this issue persists, otherwise I'll close this issue.

[2019-11-20 07:56] LosD commented on #157
@willarmiros Any idea around the release timeline? We're currently not using aws-xray-sdk-core in our Lambda functions as it makes function size double (or more), but we'd sure like to.

[2019-11-20 15:48] wilson-burea opened #219 "XRay has problems recording subsegments when await keyword is used"
I have a method with a code similar to the code below were I used await method when calling pool.query() which is a pg pool method. The subsegment that is after the pool.query() never gets recorded but the code execute correctly. It returns that actual rows without any problem.

    import {Pool} from 'pg';
    import format from "pg-format"

    const poolConfig = {
    	database: <DATABASE>
	hos

[2019-11-21 23:44] duro opened #220 "Getting typescript build errors with latest version 2.5.0"
Upgrading to lastest version of the aws-xray-sdk, my typescript build is now throwing:

[code]

This is the particular code where the error is throwing:

[code]

I was able to work around this by dropping the explicit return type of `AWS.SNS`. However, now the function is inferring a return type of only `PatchedAWSClient<SNS>`.

I'm not sure if this was intentioned, and also not sure if this is go

[2019-11-22 15:43] TLaue commented on #208
+1

[2019-11-22 19:43] willarmiros commented on #157
Hi @LosD,
You can expect much more progress to be made here in the coming weeks. I'll continue to update the above comment to track progress. Steps 7 and 8 will unfortunately take a little while longer since we have not started work on the separation of the `aws-sdk` yet.

[2019-11-22 19:48] LosD commented on #157
@willarmiros that's great, thanks for the update.

[2019-11-22 23:15] willarmiros commented on #184
Hi @hauboldj,
The AWS SDK team informed me `s3.upload` is not an external API intended for use by customers. Is there any reason you are not using `s3.putObject` instead? It is [documented](https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html) whereas upload is not.

[2019-11-23 02:03] hauboldj commented on #184
It is indeed documented. See screenshot and link
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property

![image](https://user-images.githubusercontent.com/2679742/69471200-c4f05280-0d6a-11ea-903d-e15f976ccf15.png)

The problem is the s3.upload creates a new s3 service object so I have to capture the entire AWS SDK, this worked in my case because it was ok to instrument al

[2019-11-23 13:06] kwongkz commented on #217
Hi @willarmiros,

I guess I found out the issue & solution already.

I did reference this issue to get the idea #143

So the solution for me add env - `AWS_NODEJS_CONNECTION_REUSE_ENABLED=1`, you can refer to this [Lambda optimization tip](https://theburningmonk.com/2019/02/lambda-optimization-tip-enable-http-keep-alive/).

Hope we can put this in the documentation so other people can get more cle

[2019-11-23 13:35] kwongkz commented on #143
Now actually can directly use env - `AWS_NODEJS_CONNECTION_REUSE_ENABLED to 1`, no longer need these couple of lines of code [New way to keepalive](https://theburningmonk.com/2019/02/lambda-optimization-tip-enable-http-keep-alive/)

[2019-11-26 16:49] chearmstrong opened #222 "Annotation not set for Lambda (not using Express)"
Hi.

In my lambda handler, I'm trying to set an annotation on a subsegment. I'm not using express.

[code]

I can't see this set anywhere though. What am I missing?

Thanks in advance.

[2019-11-26 17:17] willarmiros commented on #222
Hi @chearmstrong,
There are (at least) two possibilities here. The first is you are not closing your subsegment with `sub.close(error)` - which you must to guarantee all its attributes are included. The other is that this is a similar issue to #219 in which there are asynchronous functions in your code which cause the segment for the function to be ended prematurely, before your `addAnnotation` is

[2019-11-26 17:47] willarmiros commented on #219
Hi @wilson-burea,
Thank you for following up on GitHub following our external conversation. I'll include my current findings for public visibility.

I am investigating this issue with the Lambda and will update if they come back with anything.

[2019-11-27 00:18] Imran99 commented on #143
I've noticed that I'm not seeing http calls in traces at all anymore, could be doing something wrong on our end haven't had a chance to investigate yet. Anyone else seeing this?

[2019-11-27 00:46] linjunpop opened #223 "Changelog for 2.4.0 and 2.5.0?"
There's no Changelog for 2.4.0 and 2.5.0.

[2019-11-27 00:50] willarmiros commented on #223
These versions were released from the 2.x branch, so they have a [CHANGELOG](https://github.com/aws/aws-xray-sdk-node/blob/2.x/packages/full_sdk/CHANGELOG.md) there. They will be present in `master` soon once the process to release 3.0 has begun. See #157 for more.

[2019-11-27 00:50] #223 closed

[2019-11-27 01:07] linjunpop commented on #223
That's quite misleading as the master has changelogs for `v2.3.0`. It would be appreciated if the CHANGELOG on the master can attach the link to the 2.x branch.

[2019-11-27 09:45] chearmstrong commented on #222
Thanks for the reply @willarmiros - here's more code. I suspect it's the async thing. Is there a workaround for this atm?

[code]

[2019-11-27 12:07] vertti commented on #113
`date-fns` dependency is huge. It adds over 4MB to the size of my lambdas. I'm guessing you are using like 0,5% of that. `date-fns` claims to be modular and treeshakeable etc, but if I just use `aws-xray-sdk-core` as a dep in my Lambda, that 4.5MB is what I get.. :(

[2019-11-27 15:29] ivanmartos opened #224 "S3 pre-signed url not traced"
X-ray does not capture traces when generating pre-signed url for S3 object
When uploading object to s3, trace is correctly created and visible in AWS console.
Here are some parts of extracted code.

[code]

<img width="1066" alt="Screenshot 2019-11-27 at 16 28 18" src="https://user-images.githubusercontent.com/5867879/69736546-0306c100-1133-11ea-84a2-e9ee767df26e.png">

versions used are
[code]

[2019-11-27 15:45] mits87 commented on #224
Actually I had the same problem and I didn't find any solution to solve the problem.

[2019-11-29 15:34] purplecode commented on #220
+1

According to the `aws-sdk` implementation ([here](https://github.com/aws/aws-sdk-js/blob/master/lib/response.js#L107) and [here](https://code.amazon.com/packages/NodeJS-aws-sdk/blobs/3b710e630842164c550e4e70149adf93e5257f9c/--/aws-sdk/lib/response.js#L136-L144)), the right typing should be:
[code]

Can it be that both `aws-sdk` ([source](https://github.com/aws/aws-sdk-js/blob/19a5b5936f2356441

[2019-12-02 17:38] dimmy-timmy commented on #208
I have the same issue on my project

[2019-12-03 19:00] willarmiros commented on #113
Hi @vertti,
Can you explain what you mean a little further? `date-fns` is a tiny dependency, adding only about 3.2 kB to the SDK package, according to both the above image and [bundlephobia](https://bundlephobia.com/result?p=date-fns@1.29.0).

[2019-12-04 07:20] vertti commented on #113
@willarmiros Sure. I would love to hear that I'm doing something silly here.

I have a bunch of lambdas that have a shared dependency. This dep is instrumented with x-ray for it's Postgresql calls.

In my common library I run:

[code]
then doing `du -h node_modules` gives me:

[code]

and checking where the `date-fns` comes from with `npm ls date-fns` tells me:

[code]

[2019-12-05 02:51] #134 closed

[2019-12-05 20:14] willarmiros commented on #224
Hello,
This is a result of a quirk in the aws-sdk library. The `AWSXRay.captureAWS` method (implemented [here](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/patchers/aws_p.js#L31)) automatically instruments all methods of AWS *clients*. [This](https://github.com/aws/aws-sdk-js/blob/master/clients/s3.d.ts) is where you can find such methods. However, the `getSignedUrl` s3 m

[2019-12-05 20:18] willarmiros commented on #184
It turns out this issue is the same as #224. `s3.upload` is a public-facing API, and it is documented, but unlike `s3.putObject`, it is not an official client object, which is why the unorthodox internal client creation is done in this case but not for any other client methods. I encourage you to follow up with the [AWS SDK](https://github.com/aws/aws-sdk-js/issues/new/choose) team to find out mor

[2019-12-05 20:49] hauboldj commented on #184
The `getSignedUrl` doesn't make any HTTP/API calls to AWS, so there wouldn't really be anything to capture.
`s3.upload` makes at least one, perhaps multiple API call so it should have capture results.
This is really probably an issue with the SDK. I'll probably open an issue over there. I'm fine if this is closed , since it doesn't seem reasonable for the xray sdk to have to deal with things that

[2019-12-05 20:53] hauboldj commented on #224
`getSignedUrl` doesn't make any HTTP/API calls. It just uses the credentials to create a signed request. I no case would I expect any trace from `getSignedUrl`.

Note: getSignedUrl could trigger the credential provider chain which could make http calls to the instance metadata service but I don't believe these calls are instrumented. Since the `getSignedUrl` is called synchronously in the example

[2019-12-05 20:59] willarmiros commented on #220
@purplecode has volunteered to make a PR to resolve this issue, it will be released in v3 of the SDK.

[2019-12-06 01:09] willarmiros commented on #113
Interesting, I reproduced that just fine on my end. We shouldn't have to require our customers to use treeshaking before deploying their Lambda functions to reduce the size of a dependency - especially because we only use `date-fns` in our logger, which is ignored in Lambda 🙃

Since its only use could be accomplished with native JS, I'll open a PR to remove `date-fns`.

[2019-12-06 08:45] petermorlion commented on #217
I'm having the same issue.

Searching the internet for that IP address leads me to believe it's the IP address of the X-Ray daemon (see [here](https://github.com/lambci/docker-lambda/blob/master/base/Dockerfile)). It definitely should be a "local" IP address because it starts with 169. So I think it should be somewhere in the AWS network, though I'm no network specialist.

I've tried adding the `A

[2019-12-06 18:43] awssandra commented on #217
Hi petermorlion,

Is this affecting you on Lambda as well? The Daemon should be automatically configured in Lambda, no need to include it or set it up.

[2019-12-06 19:27] petermorlion commented on #217
Hi awssandra,

Yes, this is on AWS Lambda. I have it with several Lambda's, all of which use the AWS X-Ray Express package. Strangely, I don't seem to be having the issue when only using the core, but also not when using AWS X-Ray Express with NestJS (both in Lambda's). Though those Lamba's are executed less often.
I'll see if I can write a minimal Lambda and execute a load test on them?

[2019-12-07 11:00] davidcheal commented on #217
I am also seeing this error in x-ray traces.
![xray-error](https://user-images.githubusercontent.com/11473035/70373533-b6926100-193c-11ea-830a-57af9c0e5586.png)
I am using the express package, node 12.x

[2019-12-09 08:48] petermorlion commented on #217
I've been able to reproduce this on Node 10.x with this piece of code:

[code]

I just invoked the API Gateway several times from the AWS Console. So this is no heavy load test, i.e. no concurrent requests. As you can see, some invocations have no issue, but others do:
![image](https://user-images.githubusercontent.com/3483719/70420619-6adcd600-1a68-11ea-98bd-04acda3a8707.png)

After that, other r

[2019-12-10 18:56] #184 closed

[2019-12-11 02:37] willarmiros commented on #224
I will close this issue since it is the responsibility of the AWS SDK to change their implementation to fix this issue. As @hauboldj said however, the `getSignedURL` API does not make any network calls unlike other API calls, so it's possible the existing implementation will not change. I encourage you to open an [issue](https://github.com/aws/aws-sdk-js/issues/new/choose) with the AWS SDK team, a

[2019-12-11 02:37] #224 closed

[2019-12-11 03:18] willarmiros commented on #222
Hi @chearmstrong,
What's interesting is that I could not reproduce your issue with some generic `handleEvent` async function. Maybe it's because mine was a little too fast, but not sure exactly.

What happens in general in these types of situations is execution hits an async function like `handleEvent` and that function executes and returns quickly, as it should, because its callback (`.then` in t

[2019-12-11 15:46] ivanmartos opened #231 "Possibility to turn off X Ray"
In Python XRay sdk it is possible to turn off XRay via environment variable `AWS_XRAY_SDK_ENABLED` (https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-python-configuration.html)

Would it be possible to add this feature also to node SDK?
Thanks

[2019-12-11 18:21] awssandra commented on #231
Hi ivanmartos,

We're been slowly filling in the gaps of feature parity between our SDKs. This is absolutely a great little feature we should implement on the Node SDK. We'll be happy to add this on our TODO list and prioritize it accordingly, but feel free to open a PR.

[2019-12-11 22:45] willarmiros commented on #220
Hi @duro,
Could you provide a more thorough code snippet to reproduce the error? I tried making a simple TypeScript app with an instrumented SNS client and called `SNS.publish(params)` and it transpiled and ran just fine.

[2019-12-12 03:13] #125 closed

[2019-12-12 16:49] dt-atkinson opened #232 "Centralised Rules with Annotations are Ignored"
Is this intended? Any rules with annotations are deliberately thrown away.

Presumably the ability to match on annotations is wanted?
https://github.com/aws/aws-xray-sdk-node/blob/8109e1e256288764571bdad45f2100c48280b8c4/packages/core/lib/middleware/sampling/service_connector.js#L115

[2019-12-12 16:51] dt-atkinson commented on #161
Have this issue also

[2019-12-12 17:08] willarmiros commented on #161
Thank you for letting us know. We are prioritizing a fix for this issue as soon as we can.

[2019-12-12 19:17] asaghri commented on #208
+1

[2019-12-13 16:21] #141 closed

[2019-12-14 21:02] misterjoshua commented on #208
+1

[2019-12-16 11:42] RyanV commented on #208
+1

[2019-12-17 04:40] willarmiros commented on #143
Hi @Imran99,
If you are still not seeing HTTP traces please follow up in a separate issue. I'm going to close this issue since no one else seems to be experiencing it anymore.

[2019-12-18 11:51] theshumanator commented on #103
Hello,

Is there an ETA to fix this? I'm looking at https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/CHANGELOG.md and I noticed that v2.4.0 was meant to fix this but I'm still seeing the issue on v.2.5.0.

https://github.com/aws/aws-xray-sdk-node/pull/190 appears to have been 'merged' but it's unclear when it will be released?

Thanks.

[2019-12-18 17:11] willarmiros commented on #103
Hi @theshumanator,
#190 will be released in 3.0.0-alpha.1, which is being tracked in #157. It is projected to be released shortly after the holidays.

[2019-12-19 14:42] dt-atkinson opened #233 ".setDaemonAddress doesn't configure service_connector.js"
service_connector.js is included on import and uses daemon_config.js on creation.

The configuration isn't reloaded after supplying parameters to setDaemonAddress so will always hit localhost (unless using ENV vars)

[2019-12-19 19:26] awssandra commented on #232
No, they are unsupported in the SDK as per documentation: https://docs.aws.amazon.com/xray/latest/devguide/xray-console-sampling.html

[2019-12-20 09:16] dt-atkinson commented on #232
Is there a technical reason behind this, or is it just deemed not required?

[2019-12-20 15:49] willarmiros commented on #233
Hi @dt-atkinson,
You're right on this, it looks like the X-Ray client in `service_connector` should be regenerated as part of the `setDaemonAddress` method. I do not believe a new [client ID](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/lib/middleware/sampling/service_connector.js#L19) would have to be generated since the X-Ray client would still be associated with the same s

[2019-12-20 22:28] awssandra commented on #232
After re-reading the docs, I noticed we don't quite explain the intent anywhere.
So, the idea is that (currently) sampling decisions today are immutable - once something is marked as sampled it is, once something is not it is as well. With annotations, this impacts the sampling case.

The behavior of sampled vs un-sampled segments varies between the SDKs implementation as the designs diverged over

[2019-12-22 20:52] #214 closed

[2019-12-23 22:33] AdonousTech commented on #219
In this situation you may need to use promises on the back-end and async await on the calling code. Have you tried wrapping captureAsyncFunc in a promise? Then you can use basic promise syntax to call the pool.query method (e.g. pool.query().then(...)). The caller of the getDynamicLinkStats method can use async await pattern. There's no need to use await in the back-end/implementation code.

For e

[2019-12-26 23:29] #215 closed

[2019-12-27 17:12] willarmiros commented on #219
Thank you for the workaround @AdonousTech, I tested it in Lambda and verified the trace contains the expected data. @wilson-burea Have you considered adding a promise wrapper similar to the one Matt proposed around your third party async calls?

[2020-01-06 19:56] awssandra commented on #217
Sorry for the delayed response!

I'm thinking there's a disconnect between the custom Lambda code and the Express middleware.  Each have their own expected workflow of the daemon and SDK behavior. We'll take a deep dive into this.

[2020-01-07 01:52] Mangosteen-Yang opened #237 "AWS_XRAY_CONTEXT_MISSING=LOG_ERROR not working for v3"
Version: 3.0.0-alpha.1

My previouse environment setting of:

AWS_XRAY_CONTEXT_MISSING=LOG_ERROR

doesn't work on this version.

[2020-01-07 02:00] willarmiros commented on #237
Hi @Mangosteen-Yang,

I suspect this has to do with the removal of winston in the 3.0.0-alpha.1 update. Can you describe what you expected to happen vs. what is actually happening? Is the SDK raising a runtime error, failing to print the error, or something else entirely?

[2020-01-08 00:16] Mangosteen-Yang commented on #237
Hi @willarmiros

I expect I can ignore errors.
The error I met is:

[code]

Please refer AWS support case ID 6310960771 for more detail.

[2020-01-08 01:36] willarmiros commented on #237
Hi @Mangosteen-Yang,

This is the intended behavior of the SDK. Setting the context missing environment variable to `LOG_ERROR` does just what it says, it logs context missing error messages. If you'd like to not see anything logged from the SDK, you can set the `AWS_XRAY_LOG_LEVEL` environment variable to `silent`, which will suppress all logging output from the SDK.

Lastly, if you'd like to tru

[2020-01-08 04:42] Mangosteen-Yang commented on #237
@willarmiros Thanks.

I still have a question. Base on my assumption, I should not get this error after version v3.0 because I `app.use(AWSXRay.express.openSegment());` just after `const app = express();` and `app.use(AWSXRay.express.closeSegment());` at the last line of my code

[2020-01-08 22:13] willarmiros commented on #237
Hmmm I would need to see a fuller snippet of your code to properly diagnose the issue. The most important thing with the express instrumentation is that you should not use other middlewares in between your declarations of `openSegment()` and `closeSegment()`, as I explained in this [comment](https://github.com/aws/aws-xray-sdk-node/issues/215#issuecomment-554545044). Feel free to post more detaile

[2020-01-08 23:00] Mangosteen-Yang commented on #237
@willarmiros
Thank you so much!
As futher discussion will out of the topic and post more code may contain sensitive information, I will create a ticket in AWS if I cannot solve it.

Pls feel free to close it.

[2020-01-09 00:34] willarmiros commented on #237
Happy to help :)

[2020-01-09 00:34] #237 closed

[2020-01-09 05:05] Mangosteen-Yang opened #239 "Recommended configuration order"
Version:
    "aws-xray-sdk-core": "^3.0.0-alpha.1",
    "aws-xray-sdk-express": "^3.0.0-alpha.1",

RIght now I am using the package in following order:

[code]

I read doc before and figured out usages of these configurations but did not find instruction on usage order.
I would like to know Is the order matter?

[2020-01-09 17:39] willarmiros commented on #239
Your current order is perfectly acceptable with the exception of where you call `xrayExpress.openSegment`. We recommend you begin segments in express *immediately* before declaring your paths with Express. So I'd recommend adjusting to:
[code]

[2020-01-09 21:34] srprash commented on #103
The 3.0.0-alpha.1 is now released.

[2020-01-09 21:34] #103 closed

[2020-01-09 23:46] Mangosteen-Yang commented on #239
@willarmiros Thanks.

Sometimes I need to call other services outside path. (e.g confirm SQS subscribtion request)
I will get following erros. Is still recommend to ignore these errors in v3?

[code]

[code]

I capture globally rather than manually because:
1. I am lazy
2. prevent forget to add xray for future requets
3. I am using axois (https://github.com/aws/aws-xray-sdk-node/pull/11#issuecomme

[2020-01-10 01:12] #82 closed

[2020-01-10 01:30] willarmiros commented on #239
If you are making requests using the AWS SDK outside of your path declaration blocks then those will throw context missing errors because segments are only automatically created inside of express path declarations. If you'd like, you could also use the `closeSegment` middleware, make your AWS calls, then use the `openSegment` middleware and continue your path declarations to avoid the errors. For

[2020-01-10 02:09] willarmiros commented on #217
Hi @petermorlion,
I am investigating this issue with the Lambda team. Please sit tight for any updates!

[2020-01-14 03:01] billybonks commented on #208
would love to have this aswell, it would signficantly improve the value of xray.

[2020-01-14 23:18] awssandra commented on #157
3.0.0-alpha-1 has been released! Mainline now reflects the latest, previous 2.x version is snapshotted on a separate branch. Changelog can be found [here](https://github.com/aws/aws-xray-sdk-node/blob/master/packages/core/CHANGELOG.md#300-alpha1).

[2020-01-15 06:15] mailtokartik1 commented on #63
This solution seems to work for me while using `node-fetch`
[code]

[2020-01-15 15:24] MickVanDuijn opened #240 "Got 10 doesn't work with AWS XRay in lambda"
#### Describe the bug

 - Node.js version: 10.x and 12.x
 - OS & version: AWS Lambda, Got 10

This occurs when using Got 10 in combination with AWS XRay on AWS Lambda. **Note**: Got 9 works fine with the provided snippet.

I also opened an issue on the [`got`](https://github.com/sindresorhus/got/issues/1022) repository.

#### Actual behavior

Whenever XRay capture is enabled, the lambda doesn't re

[2020-01-17 12:57] MickVanDuijn commented on #240
@chanchiem should this also receive the `bug` label? It is killing my executions midway, while it worked fine without XRay enabled

[2020-01-19 00:05] #220 closed

[2020-01-23 03:10] williamhoyle opened #241 "Node process hangs when xray traced."
I have some jest tests that used to work under 2.3, but now hang. I've tracked the cause to a socket that is left open and referenced by the segment emitter.

It looks like this bug was introduced in [commit 7f9474034fabe508d23f2627dada42ae538712fd](https://github.com/aws/aws-xray-sdk-node/commit/7f9474034fabe508d23f2627dada42ae538712fd) when lazy socket initialisation was added.

The code to `unr

[2020-01-23 08:20] LosD commented on #14
@willarmiros Is it on purpose that the definitions has been added to dependencies instead of dev-dependencies? That seems like a mistake.

[2020-01-23 08:36] esilkensen commented on #14
I think it's correct for it to be a dependency, because the `Namespace` type is imported from that package and exported as the return type of the public `getNamespace()` function -- that said, since #227 was merged this should probably be updated to use `@types/cls-hooked` -- I can open a PR for that.

[2020-01-23 08:43] LosD commented on #14
@esilkensen Sorry, I moved my question to the PR, probably after you saw it (I've copied it under here, though a little differently worded, as I changed it a bit as I moved it).

Anyway, at runtime, types are gone, and has no purpose anymore? It might be me missing a difference when doing libraries as opposed to applications, but it makes no sense to me to keep types around for runtime.

[2020-01-23 15:05] khaledosman commented on #113
Are there any updates on this?

I'd rather not use Xray at all than add the entire aws-sdk to my bundle, especially after doing all these workarounds in my serverless environment to remove it like:
1.  moving "aws-sdk" to devDependencies
2. using serverless-webpack's includeModules
3. using webpack node-externals plugin
4.  setting serverless-webpack to forceExclude aws-sdk
5. setting up yarn --au

[2020-01-23 17:29] willarmiros commented on #241
Hi @williamhoyle,
Thank you for pointing this bug out. I'll be sure to include a fix in the next release since it's an easy change. I'd also be open to a PR if you have the time.